{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% block content %}
        <div class="page-container">

            <div class="title">
                <div class="back">
                    <a class="label_img" href="{% url 'work_objects' request.user.pk %}">
                        <img src="{% static 'images/back.png' %}" width="30" height="30">
                    </a>
                    <h3>PRACOWNICY</h3>
                </div>
                <form method="POST" class="search_form" id="users">
                    {% csrf_token %}
                    <select name="user" class="search" onchange="submitFormUsers()">
                        <option disabled selected hidden>Szukaj pracownika</option>                        
                        <option >Wszyscy pracownicy</option>
                        {% for user in users_list %}
                            <option value="{{user}}">{{user}}</option>
                        {% endfor %}
                    </select> 
                    <input type="image" src="{% static 'images/search.png' %}" width="30" height="30">
                </form>
            </div>

            <div class="wo_container">

                {% for user in users %}   
                <div class="label">
                    <div class="row_cont_in_label">
                        <a class="label_img" href="{% url 'user' user.pk %}">
                            <img src="{% static 'images/profil.png' %}" width="30" height="30">
                        </a>
                        {{ user.username }}
                        <br>
                    </div>
                    <div class="row_cont_in_label">
                        <a class="label_img" href="{% url 'user_raport' user.pk %}">
                            <img src="{% static 'images/raports.png' %}" width="30" height="30">
                        </a>
                        <a class="label_img" href="{% url 'vacations' user.pk %}">
                            <img src="{% static 'images/vacations.png' %}" width="30" height="30">
                        </a>
                        <a class="label_img" href="{% url 'deleteQuestion' user.pk %}">
                          <img src="{% static 'images/delete.png' %}" width="30" height="30">
                        </a>
                    </div>
                </div>
                    <br>
                {% endfor %}
                <div class="pagination">
                    <span class="step-links">
                        {% if users.has_previous %}
                        <a class="page" href="?page=1"><</a>
                        <a class="page" href="?page={{ users.previous_page_number }}"> << </a>
                        {% endif %}
                        
                          <span class="current-page"><p>{{ users.number }}</p></span>
                        
                        {% if users.has_next %}
                        <a class="page" href="?page={{ users.next_page_number }}">>></a>
                        <a class="page" href="?page={{ users.paginator.num_pages }}">></a>
                        {% endif %}
                    </span>
                </div>
            </div>

        </div>

        <script>
            function submitFormUsers() {
              var form = document.getElementById("users");
              form.submit();
            }
        </script>

    {% endblock %}

</body>
</html>