{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% block content %}

    <!-- <div class="container"> -->
        <form method='POST' class='auth-form'>
            {% csrf_token %}

            <h3>Logo Nazwa</h3>
        
            <input type="text" placeholder="Email" name="username" class="input">
        
            <input type="password" placeholder="Hasło" name="password" class="input">
        
            <button class="auth-btn" type="submit">
                <p class="btn-title">Zaloguj się</p>
            </button>
            <div class="back">
                <a href="{% url 'register' %}">Załóż konto</a>
                <a href="{% url 'forgot_password' %}">Nie pamiętam hasła</a>
            </div>
        
        
        </form>
    <!-- </div> -->

{% endblock %}
</body>
</html>