{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
{% block content %}

    <p>Register</p>
    
    <form method="POST" class="auth-form" enctype="multipart/form-data">
        {% csrf_token %}
        {% for f in form %}
            <label for="{{ f.auto_id }}">{{ f.label }}</label>
            {{f}}
            <!-- <input type="text" class="input" name="{{ as_p }}" value="{{ as_p }}"> -->
        {% endfor %}
        <button class="auth-btn" type="submit">
            <p class="btn-title">Zarejestruj się</p>
        </button>
    </form>

{% endblock %}    

</body>
</html>
