:root {
    --btn-bg-color: #394867;
    --border: 1px solid #434242;
    --main-bg-color: #F1F6F9;
    --header-bg-color: #212A3E;
    --input-bg-color: #d4dced;
    --text-color: white;
    --height: 200vh;
    --width: 100vw;
  }

.base{
    display: flex;
    background-color: var(--main-bg-color);
    height: var(--height);
}

.container {
    display: flex;
    flex-direction: column;
    padding: 8px;
    overflow-x: auto;
    height: auto;
    margin-left: 50px;
}

.header-container {
    width: 200px;
    background-color: var(--header-bg-color);
}

.filter-container {
    display: flex;
    flex-direction: row;
    align-items: self-start;
    padding: 10px;
}

.page-container {
    display: flex;
    flex-direction: column;
}

.block {
    width: 200px;
    padding: 15px;
    gap: 10px;
}

.nav-el {
    gap: 10px;
    padding: 15px;
    cursor: pointer;
}

.label {
    display: flex;
    align-items: center;
    background-color: var(--input-bg-color);
    color: #2a2a2a;
    border-radius: 5px;
    border: transparent;
    width: 35vw;
    height: 40px;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    overflow-x: auto;
}

.label:hover {
    background-color: #a2b3d1;
    transition: background-color 0.3s ease;
}

input {
    background-color: var(--input-bg-color);
    color: #2a2a2a;
    border-radius: 5px;
    border: transparent;
    width: 150px;
    height: 30px;
    font-size: 14px;
    /* padding-left: 5px; */
    /* padding-right: 5px; */
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

input:hover {
    background-color: #a2b3d1;
    transition: background-color 0.3s ease;
}

select {
    background-color: var(--input-bg-color);
    color: #2a2a2a;
    border-radius: 5px;
    border: transparent;
    width: 200px;
    height: 30px;
    font-size: 14px;
    padding-left: 5px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.work select {
    background-color: var(--input-bg-color);
    color: #2a2a2a;
    border-radius: 5px;
    border: transparent;
    width: 180px;
    height: 25px;
    font-size: 14px;
    padding-left: 5px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

select:hover {
    background-color: #a2b3d1;
    transition: background-color 0.3s ease;
}

.work {
    padding: 5px;
}

.add {
    background-color: var(--input-bg-color);
    color: #2a2a2a;
    border-radius: 5px;
    border: transparent;
    width: 100px;
    height: 25px;
    font-size: 14px;
    padding-left: 5px;
}

.work_type {
    background-color: var(--input-bg-color);
    color: #2a2a2a;
    border-radius: 5px;
    border: transparent;
    width: 180px;
    height: 25px;
    font-size: 14px;
    padding-left: 5px;
}

table {
    width: 85vw;
    border-collapse: collapse;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

th, td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #a2b3d1;
  }

tr:nth-child(odd) td {
    background-color: #d4dced;
}

tr:nth-child(even) td {
    background-color: transparent;
}

.btn {
    padding: 5px;
    background-color: var(--btn-bg-color);
    border: var(--border);
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

li {
    list-style: none;
}

.btn-title {
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
}