.profile-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2%;
    gap: 50px;
}

.add {
  background-color: var(--input-bg-color);
  color: #2a2a2a;
  border-radius: 5px;
  border: transparent;
  width: 100px;
  height: 25px;
  font-size: 14px;
  padding-left: 5px;
}

@media screen and (max-width: 820px) {
  .add {
    background-color: var(--input-bg-color);
    color: #2a2a2a;
    border-radius: 5px;
    border: transparent;
    width: 180px;
    height: 25px;
    font-size: 14px;
    padding-left: 5px;
  }
}

.add:hover {
background-color: #a2b3d1;
transition: background-color 0.3s ease;
}

.work_type {
  background-color: var(--input-bg-color);
  color: #2a2a2a;
  border-radius: 5px;
  border: transparent;
  width: 180px;
  height: 25px;
  font-size: 14px;
  padding-left: 5px;
}

.addwork {
    display: flex;
    align-items: center;
    justify-content: center;
}

.startend {
    width: 120px;
    height: 20px;
    border: var(--border);
}

.alert {
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .allert-btn {
    padding: 5px;
    margin: 10px;
    background-color: var(--btn-bg-color);
    border: var(--border);
    border-radius: 10px;
    cursor: pointer;
    width: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  
  .alert-info {
    background-color: #eaf2f8;
    color: #31708f;
  }
  
  .alert-success {
    background-color: #dff0d8;
    color: #3c763d;
  }
  
  .alert-warning {
    background-color: #fbf4d1;
    color: #8a6d3b;
  }
  
  .alert-error {
    background-color: #f2dede;
    color: #a94442;
  }

  .close {
    font-size: 14px;
    border: solid 1px rgb(36, 35, 35);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background: white;
    margin-left: 20px;
    cursor: pointer;
  }