.profile-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2%;
    gap: 50px;
}

.add {
  background-color: var(--input-bg-color);
  color: #2a2a2a;
  border-radius: 5px;
  border: transparent;
  width: 100px;
  height: 25px;
  font-size: 14px;
  padding-left: 5px;
}

@media screen and (max-width: 820px) {
  .add {
    background-color: var(--input-bg-color);
    color: #2a2a2a;
    border-radius: 5px;
    border: transparent;
    width: 180px;
    height: 25px;
    font-size: 14px;
    padding-left: 5px;
  }
}

.add:hover {
background-color: #a2b3d1;
transition: background-color 0.3s ease;
}

.work_type {
  background-color: var(--input-bg-color);
  color: #2a2a2a;
  border-radius: 5px;
  border: transparent;
  width: 180px;
  height: 25px;
  font-size: 14px;
  padding-left: 5px;
}

.addwork {
    display: flex;
    align-items: center;
    justify-content: center;
}

.startend {
    width: 120px;
    height: 20px;
    border: var(--border);
}
