.wo_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 80%; */
    padding: 8px;
    overflow-x: auto;
    height: auto;
}

@media all and (max-width: 820px) {
    .wo_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 8px;
        overflow-x: auto;
        height: auto;
    }
}

@media all and (max-width: 450px) {
    .wo_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 8px;
        overflow-x: auto;
        height: auto;
    }
}

.wo_input {
    border: 1px solid #434242;
    border-radius: 10px;
    width: 60vw;
    height: 35px;
    padding: 2px;
}

.wo_btn {
    padding: 5px;
    width: 6vw;
    height: 35px;
    background-color: var(--btn-bg-color);
    border: var(--border);
    border-radius: 10px;
    cursor: pointer;
    margin-left: 5px;
}
    
#chato {
    display: flex;
    flex-direction: column;
    padding: 8px;
    overflow-y: scroll;
    height: 400px;
    width: 88vw;
    background-color: var(--input-bg-color);
    border: transparent;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-bottom: 10px;
}

#chat_down {
    position: relative;
    top: -30px;
    left: 47.3%;
    margin-bottom: -18px;
}

#chat_down_quantity {
    position: absolute;
    top: -25px;
    left: 48.5%;
    padding: 2px 5px;
    border-radius: 50%;
    background-color: blueviolet;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.chat_history {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: aliceblue;
}

@media screen and (max-width: 450px) {
    #chat_down {
        display: inline-block;
        position: relative;
        top: -27px;
        left: 45%;
    }
    
    #chat_down_quantity {
        display: inline-block;
        position: absolute;
        top: -25px;
        left: 48%;
        padding: 2px 5px;
        border-radius: 50%;
        background-color: blueviolet;
        color: white;
        font-size: 12px;
        font-weight: bold;
    }
}

.chat_label_l {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    background-color: aliceblue;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-bottom: 20px;
    padding: 10px;
}

.r {
    align-self: self-end;
}

.chat_label_r {
    display: flex;
    flex-direction: column;
    align-self: self-end;
    width: 50%;
    height: auto;
    background-color: rgb(204, 225, 246);
    border: none;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-bottom: 20px;
    padding: 10px;
}

.chat_time {
    font-size: 10px;
    align-self: self-end;
}

#chat-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chat_input {
    width: 60vw;
    min-height: 50px;
    height: auto;
    border-color: transparent;
    border-radius: 10px;
    background-color: var(--input-bg-color);
    padding: 10px;
}

#chat_push {
    align-self: flex-end;
}

#chat_input_cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: var(--input-bg-color);
    padding: 10px;
    width: 88vw;
}

.simple_row_cont {
    display: inline;
    gap: 20px;
}

.chart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background: transparent;
}

@media all and (max-width: 450px){
    .chart {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 350px;
        background: transparent;
    }

    .chat_input {
        width: 50vw;
        min-height: 50px;
        height: auto;
        border-color: transparent;
        border-radius: 10px;
        background-color: var(--input-bg-color);
        padding: 10px;
    }
}

#tasks_container {
    position: fixed;
    z-index: 9999;
    left: 13vw;
    top: 15vh;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 68vw;
    height: 70vh;
    background-color: rgba(241, 246, 249, 0.5);
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    border: transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#taskContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 66vw;
    margin-left: 3.5%;
    min-height: 50vh;
    overflow-y: auto;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: transparent transparent; /* For Firefox */
}

#taskContent::-webkit-scrollbar {
    background-color: transparent; 
  }

#taskFormCont {
    display: flex;
    justify-content: center;
}

#labelTaskCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vh;
}

.label_img_task {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    padding: 3px;
    background-color: var(--main-bg-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
    opacity: 1 !important;
  }

  .label_img_task:hover {
    background-color: #a2b3d1;
    transition: background-color 0.3s ease;
  }

.row_task_cont{
    display: flex;
    gap: 10px;
}

#task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #2a2a2a;
    border-radius: 5px;
    border: transparent;
    height: auto;
    width: 58vw;
    min-height: 60px;
    font-size: 16px;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    overflow-y: auto;
}

.activeTaskColor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--input-bg-color);
    border-radius: 5px;
    border: transparent;
    height: auto;
    width: 58vw;
    min-height: 40px;
}

.doneTaskColor {
    background-color: rgba(247,247,247, .2);
}

#taskForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
    width: 62vw;
    height: 90px;
    background-color: white;
    border: transparent;
    border-radius: 5px;
}

.contentTask {
    order: transparent;
    border-radius: 5px;
    padding: 10px;
    width: 50vw;
    height: 70px;
}

#done {
    text-decoration: line-through;
    opacity: .5;
}

#addTask {
    align-self: flex-end;
}

#closeTaskBtn {
    position: fixed;
    top: 15vh;
    left: 85vw;
}

textarea {
    border: none;
    outline: none;
  }

#deleteTaskBtn {
    display: block;
}

#deleteQuestion {
    position: fixed;
    z-index: 9999;
    left: 30%;
    top: 30%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: auto;
    min-height: 30vh;
    background-color: var(--main-bg-color);
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    border: transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#questCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.label_datetimepicker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    border-radius: 5px;
    background-color: #2a3b61;
    cursor: pointer;
}

#datetimepickerTask {
    width: 15px;
    height: 15px;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}

#task_mini_cont {
    gap: 10px;
}

#taskDateCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    height: 55px;
    cursor: pointer;
}

/* #taskDateImg:hover{
    animation: rotate 2s infinite linear;
} */

/* @keyframes rotate {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  } */

#taskDateBg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 55px;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#taskDate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    background-color: #2a3b61;
}

#taskDate p {
    color: white;
}

.input_sub {
    border: 1px solid #434242;
    border-radius: 10px;
    width: 12vw;
    height: 30px;
    padding: 10px;
}

.input_sub_res {
    border-bottom: 1px solid #434242;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 12vw;
    height: 30px;
    padding: 10px;
    outline: none;
    background: transparent;
}

#row_simple_sub {
    display: none;
    align-items: center;
    justify-content: space-around;
    width: 62vw;
  }
  
  @media screen and (max-width: 850px) {
    #row_simple_sub {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 62vw;
    }
  }

@media screen and (max-width: 850px) {
    .input_sub {
        width: 60vw;
    }
    .input_sub_res {
        width: 60vw;
    }
  }

@media screen and (max-width: 1180px) {
    #tasks_container{
        position: fixed;
        z-index: 9999;
        left: 11vw;
        top: 15vh;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 68vw;
        height: 70vh;
        background-color: var(--main-bg-color);
        padding: 20px;
        margin: 20px;
        border-radius: 5px;
        border: transparent;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
    #taskContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 70vw;
        margin-left: 3.5%;
        max-height: 70vh;
        overflow-y: auto;
        scrollbar-width: thin; /* For Firefox */
        scrollbar-color: transparent transparent; /* For Firefox */
    }

    #task {
        font-size: 14px;
        width: 66vw;
        padding: 5px;
    }

    #taskForm {
        width: 62vw;
    }
    #closeTaskBtn {
        position: fixed;
        top: 14%;
        left: 85%;
    }
}

@media screen and (max-width: 450px) {
    #tasks_container{
        position: fixed;
        z-index: 9999;
        left: 9vw;
        top: 15vh;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 68vw;
        height: 70vh;
        background-color: var(--main-bg-color);
        padding: 20px;
        margin: 20px;
        border-radius: 5px;
        border: transparent;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
    #taskContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 70vw;
        margin-left: 3.5%;
        max-height: 70vh;
        overflow-y: auto;
        scrollbar-width: thin; /* For Firefox */
        scrollbar-color: transparent transparent; /* For Firefox */
    }
    #task {
        font-size: 12px;
        width: 66vw;
        padding: 5px;
    }
    #taskForm {
        width: 62vw;
    }
    #closeTaskBtn {
        position: fixed;
        top: 14%;
        left: 85%;
    }
    #deleteQuestion {
        left: 16vw;
        width: 57vw;
    }
}