.chat_container {
    display: flex;
    flex-direction: column;
    padding: 8px;
    overflow-x: auto;
    height: auto;
    background-color: var(--input-bg-color);
    border: transparent;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-bottom: 10px;
}

.chat_label_l {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: auto;
    background-color: aliceblue;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-bottom: 20px;
    padding: 10px;
}

.r {
    align-self: self-end;
}

.chat_label_r {
    display: flex;
    flex-direction: column;
    align-self: self-end;
    width: 20vw;
    height: auto;
    background-color: rgb(204, 225, 246);
    border: none;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-bottom: 20px;
    padding: 10px;
}

.chat_time {
    font-size: 10px;
    align-self: self-end;
}