{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/login.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/user_work.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/create_work_object.css' %}">
    <link rel="stylesheet" href="{% static 'css/work_object.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/vacations.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/add_vacation.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatetags.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
    <link rel="stylesheet" href="{% static 'css/alert.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'chat.js' %}"></script>
    
    <title>Document</title>
</head>
<body>

    <div class="base">
        {% include 'header.html' %}
        {% block content %}
            <p>Base</p>
        {% endblock %}
    </div>
    
</body>
</html>
