{% load static %}
{% load vacation_requests %}
{% load messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="header-container">
        <img 
            src="{% static 'images/menu.png' %}" 
            id="toggle_menu"
            width="30" height="30"
            onclick="toggleMenu()"
        >
        <img 
            src="{% static 'images/close_white.png' %}" 
            id="close_menu"
            style="display: none;"
            width="30" height="30"
            onclick="toggleMenu()"
        >
        <div class="block"><a href="">Logo</a></div>
        {% if request.user.is_authenticated %}
            <div class="block"><a>Witaj, {{ request.user.username }}</a></div>
        {% endif %}
        <div class="block">
            <ul class="navbar">
                <li class="nav-el"><a href="{% url 'user' request.user.pk %}">PROFIL</a></li>
                <li class="nav-el"><a href="{% url 'home' %}">HOME</a></li>
                <li class="nav-el">
                    <a href="{% url 'work_objects' request.user.pk %}" class="tags_cont_mini">
                        MIEJSCA PRACY <span class="header_quantity">{% all_messages_quantity request.user.username %}</span>
                    </a>
                </li>
                {% if request.user.is_superuser %}
                    <li class="nav-el"><a href="{% url 'all_users' %}">PRACOWNICY</a></li>
                    <li class="dropdown nav-el">
                        <a class="tags_cont_mini" onclick="toggleDropdown(event)">
                            URLOPY <span class="header_quantity">{% request_quantity %}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-el"><a href="{% url 'vacations' request.user.pk %}"> - Moje urlopy</a></li>
                            <li class="nav-el" id="req">
                                <a href="{% url 'allVacationRequests' %}" class="tags_cont_mini"> 
                                    - Wnioski <span class="header_quantity">{% request_quantity %}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-el"><a href="{% url 'vacations' request.user.pk %}">URLOPY</a></li>
                {% endif %}
                <li class="nav-el" id="raports"><a href="{% url 'raports' %}">RAPORTY</a></li>
            </ul>
        </div>
        <div class="block">
            {% if request.user.is_active %}
                <div class="btn"><a class="btn-title" href="{% url 'user_work' request.user.pk %}">Dodaj pracę</a></div>
                <div class="btn"><a class="btn-title" href="{% url 'logout' %}">Wyloguj się</a></div>
            {% else %}
                <div class="btn"><a class="btn-title" href="{% url 'register' %}">Zarejestruj się</a></div>
                <div class="btn"><a class="btn-title" href="{% url 'login' %}">Zaloguj się</a></div>
            {% endif %}
        </div>
    </div>

    <script>
        // Close or Open menu
        function toggleMenu(){
            var sideMenu = document.getElementById('header-container')
            var buttonMenu = document.getElementById('toggle_menu')
            var closeMenu = document.getElementById('close_menu')
            var vacations = document.getElementById('vacations_filter_cont')
            if (sideMenu.style.left === "0px") {
              sideMenu.style.left = "-170px"; // Close the menu
              toggle_menu.style.left = "3px"
              closeMenu.style.display = 'none';
              buttonMenu.style.display = 'block';
              vacations.style.position = 'fixed'; // make the header in the vacations.html fixed 
            } else {
              sideMenu.style.left = "0px"; // Open the menu
              toggle_menu.style.left = "160px";
              closeMenu.style.display = 'block';
              buttonMenu.style.display = 'none'; 
              vacations.style.position = 'static'; // make the header in the vacations.html static
            }
        }

        // Dropdown menu
        function toggleDropdown(event) {
            event.preventDefault();
            var dropdown = event.target.nextElementSibling;
            dropdown.classList.toggle("show");
            var styleRaports = document.getElementById('raports')
            var styleReq = document.getElementById('req')
            if (dropdown.classList.contains("show")) {
                styleRaports.style.marginTop = '60px';
                styleReq.style.marginTop = '-20px';
            } else {
                styleRaports.style.marginTop = '0px';
                styleReq.style.marginTop = '0px';
            }
        }

    </script>
    
</body>
</html>