{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="header-container">
        <div class="block"><a href="">Logo</a></div>
        <div class="block">
            <ul class="navbar">
                <li class="nav-el"><a href="{% url 'user' request.user.pk %}">PROFIL</a></li>
                <li class="nav-el"><a href="{% url 'home' %}">HOME</a></li>
                <li class="nav-el"><a href="{% url 'work_objects' %}">MIEJSCA PRACY</a></li>
                <li class="nav-el"><a href="{% url 'all_users' %}">PRACOWNICY</a></li>
                <li class="nav-el"><a href="{% url 'raports' %}">RAPORTY</a></li>
            </ul>
        </div>
        <div class="block">
            {% if request.user.is_active %}
                <!-- <div class=""><a class="" href="{% url 'work_objects' %}">WORK OBJECTS</a></div> -->
                <div class="btn"><a class="btn-title" href="{% url 'user_work' request.user.pk %}">Dodaj pracę</a></div>
                <div class="btn"><a class="btn-title" href="{% url 'logout' %}">Wyloguj się</a></div>
            {% else %}
                <div class="btn"><a class="btn-title" href="{% url 'register' %}">Zarejestruj się</a></div>
                <div class="btn"><a class="btn-title" href="{% url 'login' %}">Zaloguj się</a></div>
            {% endif %}
        </div>
    </div>
    
</body>
</html>