.w_back_ {
    background-color: #5C8374;
    width: 230vw;
}

#levels_cont_ {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    margin: 10px;
    padding: 20px;
}

#w_main_level {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 555px;
    height: auto;
    min-height: 100vh;
    margin: 10px;
    padding: 20px;
}

#level_ {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    height: auto;
    min-height: 100vh;
    margin: 10px;
    padding: 20px;
    background-color: #183D3D;
}

#column_ {
    display: flex;
    flex-direction: column; 
    width: 120px;
    height: auto;
    min-height: 90vh;
}

#number_ {
    width: 60px;
    height: 15px;
    border: 1px solid black;
}

.number-yel_ {
    width: 60px;
    height: 15px;
    border: 1px solid black;
    background-color: yellow;
}

.number-wht_ {
    width: 60px;
    height: 15px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}

.w-search_ {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 35px 85px;
}

.w-search_ input {
    width: 80vw;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
}

.w-search_ button {
    background-color: #93B1A6;
    border-radius: 10px;
    width: 75px;
    cursor: pointer;
}

#column_ button {
    background-color: #93B1A6;
    border-radius: 10px;
    width: 75px;
    margin-top: 5px;
    cursor: pointer;
} 

#column_ input {
    border-radius: 4px;
    width: 70px;
}