{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% block content %}

    <div class="cwo_cont">

        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
                <button class="allert-btn">
                    <a href="{% url 'vacations' request.user.pk %}">Ok</a>
                </button>
            </div>
          {% endfor %}
        {% endif %}

        <h2>Wniosek o urlop</h2>

        <form method="POST">
            {% csrf_token %}

        <div class="add_vacations_grafic_container">

            <div class="vacations_mini_cont">
                <p class="field">Imię i nazwisko:</p>
                <p class="vacations_input">{{ request.user }}</p>
            </div>

            <div class="vacations_mini_cont">
                <p class="field">Typ urlopu:</p>
                <select class="vacations_input"  name="type" placeholder="Typ urlopu" id="select" onchange="changeOption()">
                    {% for type in types %}                    
                        <option value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                </select>
            </div>

            <div id="steel">
                <div class="vacations_mini_cont">
                    <p class="field">Od:</p>
                    <input name="v_from" id="dateFrom" type="date" class="vacations_input" value="{{date}}" >
                </div>
    
                <div class="vacations_mini_cont">
                    <p class="field">Do:</p>
                    <input name="v_to" id="dateTo" type="date" class="vacations_input" value="{{date}}" oninput="sumDays()">
                </div>
    
                <div class="vacations_mini_cont">
                    <p class="field">Liczba dni urlopu:</p>
                    <input type="text" name="days_planned" id="days_planned" class="vacations_input" value="1">
                </div>
            </div>

            <div id="output"></div>

        </div>

            <div class="btn_cont">
                <button class="vacations_btn" type="submit">
                    <p class="btn-title">Wysłać</p>
                </button>
            </div>

        </form>

    </div>

    <script>

        // After input a last date, the quantity of days will shows automatically
        function sumDays(){
            var dateFrom = new Date(document.getElementById('dateFrom').value);
            var dateTo = new Date(document.getElementById('dateTo').value);
            const today = new Date();
            const currentYear = today.getFullYear();
            console.log('currentYear', currentYear)

            // Holidays
            const holidays = [
                `${currentYear}-01-01`,
                `${currentYear}-04-07`,
                `${currentYear}-04-10`,
                `${currentYear}-05-01`,
                `${currentYear}-05-18`,
                `${currentYear}-05-29`,
                `${currentYear}-10-03`,
                `${currentYear}-12-25`,
                `${currentYear}-12-26`,
            ];

            // This is a function that format date to the string we use 
            // to compare with strings in the holiday's list
            function formatDate(date) {
              const year = date.getFullYear();
              const month = String(date.getMonth() + 1).padStart(2, '0');
              const day = String(date.getDate()).padStart(2, '0');
              return `${year}-${month}-${day}`;
            }

            function calculateWeekdays(dateFrom, dateTo) {
              var count = 0;
              var currentDate = new Date(dateFrom);

              while (currentDate <= dateTo) {
                // Check if the current day is not Sunday (0) or holidays
                if (
                    currentDate.getDay() !== 0 && 
                    !holidays.includes(formatDate(currentDate))
                    ) {
                  count++;
                }
                // Nex day by adding +1 number
                currentDate.setDate(currentDate.getDate() + 1);
              }
          
              return count;
            }

            var res = calculateWeekdays(dateFrom, dateTo)
            document.getElementById('days_planned').value = res
            console.log('res', res)
        }

        // Changing the option on 'z powodu siły wyższej', the form will be changed
        var sel = document.getElementById('select');
        var out = document.getElementById('output');
        var steel = document.getElementById('steel');

        function changeOption() {
          var selectedOption = sel.value;
          if (selectedOption === 'z powodu siły wyższej') {
            out.innerHTML = 

            '<div class="vacations_mini_cont">' +
                '<p>Od:</p>' +
                '<input name="v_from" id="dateFrom" type="date" class="vacations_input" value="{{date}}" >' +
            '</div>' +

            '<div class="vacations_mini_cont">' +
                '<p>Do:</p>' +
                '<input name="v_to" id="dateTo" type="date" class="vacations_input" value="{{date}}" oninput="sumDays()">' +
            '</div>' +

            '<div class="vacations_mini_cont">' +
              '<p>Liczba godzin urlopu:</p>' +
              '<input type="text" name="days_planned" id="days_planned" class="vacations_input" value="1">' +
            '</div>';
            
            steel.style.display = 'none';
          } else {
            out.innerHTML = '';
            steel.style.display = 'block';
          }
        }


    </script>

    {% endblock %}

    
</body>
</html>