{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% block content %}

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
          <button type="button" class="close" onclick="this.parentElement.style.display='none'">
              &times;
          </button>
        </div>
      {% endfor %}
    {% endif %}

    <!-- ##################### QUESTION ##################### -->
    <div id="deleteQuestion"></div>
    <!-- ##################### END OF QUESTION ##################### -->

    <div class="filter-container">

        <div class="label_img">
            <input 
                type="image" 
                src="{% static 'images/delete.png' %}" 
                width="20" height="20"
                onclick="deleteVacationRequestQuestion()"
            >
        </div>

        <form method="POST">
            {% csrf_token %}

            <input class="input_" name="sorted_from" id="datetimepicker" type="date" value="date">

            <input class="input_" name="sorted_to" id="datetimepicker" type="date" value="date">

            <select class="input_"  name="user" placeholder="Pracownicy">
                <option disabled selected value="">Wszyscy użytkownicy</option>
                {% for user in users %}
                    <option value="{{user.username}}">{{user.username}}</option>
                {% endfor %}
            </select>

            <select class="input_"  name="type">
                <option disabled selected value="">Rodzaj urlopu:</option>
                {% for type in types %}
                    <option value="{{ type }}">{{ type }}</option>
                {% endfor %}
            </select> 

            <select class="input_"  name="status">
                <option disabled selected value="">Status</option>
                <option value="Rozpatrywane">Rozpatrywane</option>
                <option value="Zaakceptowane">Zaakceptowane</option>
                <option value="Niezaakceptowane">Niezaakceptowane</option>
            </select>
        
            <button class="btn"><p class="btn-title">Szukaj</p></button>

        </form>
    </div>

        {% for r in reqs %}
            <div class="cwo_cont"> 

                <div class="req_vacations_container">

                    <div class="vacations_mini">
                        <input type="checkbox"  value="{{ r.id }}">
                        {% if r.v_request.consideration is True %}           
                            <img src="{% static 'images/question.png' %}" width="50" height="50">
                        {% elif r.v_request.accepted is True %} 
                            <img src="{% static 'images/accept.png' %}" width="50" height="50">
                        {% elif r.v_request.accepted is False %} 
                            <img src="{% static 'images/close.png' %}" width="50" height="50">
                        {% endif %}                                
                    </div>

                    <div class="vacations_mini">
                        <p>{{ r.v_request.date }}</p>
                    </div>

                    <div class="vacations_mini">
                        <p>{{ r.v_request.type }}</p>
                    </div>

                    <div class="vacations_mini">
                        <p>{{ r.v_request.username }}</p>
                    </div>

                    <button class="btn">
                        <a href="{% url 'vacationRequest' r.v_request.id %}"><p class="btn-title">Sprawdż</p></a>
                    </button>

                </div>
            </div>
            {% endfor %}

            <div class="pagination">
                <span class="step-links">
                  {% if reqs.has_previous %}
                  <a class="page" href="?page=1"><</a>
                  <a class="page" href="?page={{ reqs.previous_page_number }}"> << </a>
                  {% endif %}

                    <span class="current-page"><p>{{ reqs.number }}</p></span>
              
                  {% if reqs.has_next %}
                  <a class="page" href="?page={{ reqs.next_page_number }}">>></a>
                  <a class="page" href="?page={{ reqs.paginator.num_pages }}">></a>
                  {% endif %}
                </span>
            </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

        // Question for deleting the task
    function deleteVacationRequestQuestion(){
            const checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
            const checkedValues = Array.from(checkboxes).map((checkbox) => checkbox.value);
            $.ajax({
                type: 'GET',
                url: "{% url 'deleteVacationRequestQuestion' %}",
                success: function(response){
                    if(response.message === 'ok'){
                        var deleteQuestion = document.getElementById('deleteQuestion')
                        deleteQuestion.style.display = 'flex';
                        var data = '<div id="questCont">'+
                                        '<p>'+'Usunąć wniosek?'+'</p>'+
                                        '<div class="row_cont_in_label">'+
                                            '<button class="btn" onclick="deleteVacationRequest()">'+
                                                '<a>'+"Tak"+'</a>'+
                                            '</button>'+
                                            '<button class="btn" onclick="closeQuestionDelete()">'+
                                                '<a>'+"Nie"+'</a>'+
                                            '</button>'+
                                        '</div>'+
                                    '</div>';
                            $('#deleteQuestion').html(data)
                    }else{
                        alert(response.message)
                    }
                },
                error: function(response){
                      alert('Błąd:', + response.responseJSON.message)
                } 
            })
            
        }

        function deleteVacationRequest(){
            const checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
            const checkedValues = Array.from(checkboxes).map((checkbox) => checkbox.value);
            console.log('checkedValues', checkedValues)
            $.ajax({
            type: 'POST',
            url: "{% url 'deleteVacationRequest' %}",
            data: JSON.stringify({ 'req': checkedValues }),
            contentType: 'application/json',
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            success: function(response){
                deleteQuestion.style.display = 'none';
                location.reload();
            },
            error: function(response){
                  alert('Błąd:', + response.responseJSON.message)
            } 
        })

        }

        function closeQuestionDelete(){
            deleteQuestion.style.display = 'none';
            // location.reload();
        }


    </script>
    {% endblock %}
</body>
</html>