{% extends 'base.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% block content %}

{% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
          <button class="allert-btn">
              <a href="{% url 'create_work_object' %}">Ok</a>
          </button>
      </div>
    {% endfor %}
{% endif %}

    <form method="POST" enctype="multipart/form-data" class="cwo_cont">
        {% csrf_token %}
        <input type="text" placeholder="Wpisz object" name="workname" class="cwo_input">
        <div class="work">
            <p>Początek:</p>
            <input name="timestart" id="datetimepicker" type="date" class="add">
        </div>
        <div class="work">
            <p>Koniec:</p>
            <input name="timefinish" id="datetimepicker" type="date" class="add">
        </div>

            <div class="cwo_checkbox_cont">
                {% for user in users %}
                <div class="cwo_checkbox">
                    <input  type="checkbox" name="users" value="{{ user.id }}"><p class="checkbox_p">{{ user.username }}</p><br>
                </div>
                {% endfor %}
            </div>

        <button class="cwo_btn" type="submit"><p class="btn-title">Dodaj</p></button>
    </form>
{% endblock%}

</body>
</html>