{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% block content  %}
        <div class="cwo_cont">

            <p>Chcesz napewno chcesz usunąć {{ user }} z tego objektu?</p>
                <div class="vacations_mini">
                    <button class="btn" name="yes" type="submit">
                        <a href="{% url 'deleteUserFromObject' user_pk work_object_pk %}">Tak</a>
                    </button>
                    <button class="btn" name="no">
                        <a href="{% url 'work_objects' request.user.pk %}">Nie</a>
                    </button>
                </div>
        </div>
    {% endblock  %}
    
</body>
</html>