{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content  %}
        <div class="cwo_cont">
            <p>Chcesz usunąć ten wniosek?</p>
            <div class="vacations_mini">
                <button type="submit" class="btn">
                    <a href="{% url 'deleteVacation' vacation.pk %}">Tak</a>
                </button>
                <button type="submit" class="btn">
                    <a href="{% url 'vacations' request.user.pk %}">Nie</a>
                </button>
            </div>
        </div>
    {% endblock  %}    
</body>
</html>