{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% block content %}

    <div class="cwo_cont">

        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
              <button type="button" class="close" onclick="this.parentElement.style.display='none'">
                  &times;
              </button>
            </div>
          {% endfor %}
        {% endif %}

        <h2>Wniosek o urlop</h2>
        <form method="POST" >
            {% csrf_token %}

        <div class="add_vacations_grafic_container">

            <div class="vacations_mini_cont">
                <p>Imię i nazwisko:</p>
                <p>{{ request.user }}</p>
            </div>

            <div class="vacations_mini_cont">
                <p>Typ urlopu:</p>
                <p>{{ vacation.type }}</p>
            </div>

            <div class="vacations_mini_cont">
                <p>Zmienić na:</p>
                <select class="vacations_input"  name="type" placeholder="Typ urlopu" id="select" onchange="changeOption()">
                    {% for type in types %} 
                        <option value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                </select>
            </div>

            <div id="steel">
                <div class="vacations_mini_cont">
                    <p>Od:</p>
                    <input name="v_from" id="dateFrom" type="date" class="vacations_input" value="{{ vacation.v_from }}" >
                </div>
    
                <div class="vacations_mini_cont">
                    <p>Do:</p>
                    <input name="v_to" id="dateTo" type="date" class="vacations_input" value="{{ vacation.v_to }}" oninput="sumDays()">
                </div>
    
                <div class="vacations_mini_cont">
                    <p>Liczba dni urlopu:</p>
                    <input type="text" name="days_planned" id="days_planned" class="vacations_input" value="{{ vacation.days_planned }}">
                </div>
            </div>

            <div id="output"></div>

        </div>

            <div class="btn_cont">
                <button class="vacations_btn" type="submit">
                    <p class="btn-title">Wysłać</p>
                </button>
            </div>

        </form>
    </div>

    <script src="{% static 'js/edit_vacation.js' %}"></script>

    {% endblock %}

    
</body>
</html>