{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% block content %}

    <div class="doc_container">

        <!-- ##################### QUESTION ##################### -->
        <div id="deleteQuestion"></div>
        <!-- ##################### END OF QUESTION ##################### -->

        {% for d in documents%}
            <div>
                <h3>Document: {{ d.title }}</h3>
                <p class="topic">{{ d.user.username }}</p>
                <img src="{{ d.document.url }}" alt="{{ d.title }}" width="200" height="200" onclick="openImage(this)">
                <a class="btn btn-title" href="{{ d.document.url }}" download="{{ d.title }}">Pobierz</a>
                {% if request.user.is_superuser %}
                    <button class="btn btn-title" onclick="deleteQuestion('{{d.pk}}')">Usuń</button>
                {% endif %}
            </div>
        {% endfor %}
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    var deleteDocumentUrl = "{% url 'deleteDocument' %}"
    var csrfToken = "{{ csrf_token }}";
</script>
<script src="{% static 'js/get_documents.js' %}"></script>
    
    {% endblock %}

</body>
</html>