{% extends 'base.html' %}
{% load static %}
{% load vacation_requests %}
{% load messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% block content %}

    <div class="container">
        <div class="row-container">

            <a class="home_part" href="{% url 'user' request.user.pk %}">
                <img src="{% static 'images/profil.png' %}" width="150" height="150">
                <p>PROFIL</p>
            </a>

            <a class="home_part" href="{% url 'user_work' request.user.pk %}">
                <img src="{% static 'images/addwork.png' %}" width="150" height="150">
                <p>DODAJ CZAS PRACY</p>
            </a>

            <a class="home_part" href="{% url 'work_objects' %}">
                <img src="{% static 'images/workobject.png' %}" width="150" height="150">
                <div class="tags_cont_mini">
                    <p>MIEJSCA PRACY </p>
                    <span class="header_quantity">{% all_messages_quantity request.user %}</span> 
                </div>
            </a>

            <a class="home_part" href="{% url 'vacations' request.user.pk %}">
                <img src="{% static 'images/vacations.png' %}" width="150" height="150">
                {% if request.user.is_superuser %}
                    <div class="tags_cont_mini">
                        <p>URLOPY</p>
                        <span class="header_quantity">{% request_quantity %}</span>
                    </div>
                {% else %}
                    <p>URLOPY</p>
                {% endif %}
            </a>

            <a class="home_part" href="{% url 'raports' %}">
                <img src="{% static 'images/raports.png' %}" width="150" height="150">
                <p>RAPORTY</p>
            </a>

            <a class="home_part" href="{% url 'schedule' %}">
                <img src="{% static 'images/schedule.png' %}" width="150" height="150">
                <p>GRAFIK</p>
            </a>

            {% if request.user.is_superuser %}
                <a class="home_part" href="{% url 'all_users' %}">
                    <img src="{% static 'images/workers.png' %}" width="150" height="150">
                    <p>PRACOWNICY</p>
                </a>
            {% endif %}

        </div>
    </div>

    {% endblock %}
</body>
</html>