{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>

    {% block content %}
        
    <div class="page-container">
        <div class="filter-container">
            <form method="POST">
                {% csrf_token %}

                <input class="input_" name="sorted_from" id="datetimepicker" type="date" value="date">

                <input class="input_" name="sorted_to" id="datetimepicker" type="date" value="date">

                <select name="user" placeholder="Pracownicy">
                    <option value="">Wszyscy użytkowniki</option>
                    {% for user in users %}
                        <option value="{{user}}">{{user.username}}</option>
                    {% endfor %}
                </select>

                <select name="work_object">
                    <option value="">Wszystkie miejsca pracy</option>
                    {% for wo in work_objects %}
                        <option value="{{wo}}">{{wo.name}}</option>
                    {% endfor %}
                </select> 
            
                <button class="btn"><p class="btn-title">Szukaj</p></button>

            </form>
        </div>

        <div class="container">

            <table>
                <tr>
                    <th>Data</th>
                    <th>Pracownik</th>
                    <th>Objekt</th>
                    <th>Początek</th>
                    <th>Koniec</th>
                    <th>Czas pracy</th>
                    <th>Nadgodziny</th>
                    <th>Czynność</th>
                    <th>Kawa/Posiłki</th>
                    <th>Zaliczka</th>
                    <th>Paliwo</th>
                    <th>Telefon</th>
                    <th>Opłata</th>
                    <th></th>
                </tr>
                {% for work in works %}
                <tr>
                    <td>{{work.date}}</td>
                    {% for user in work.user.all %}
                        <td>{{user.username}}</td>
                    {% endfor %}
                    <td>{{work.work_object}}</td>
                    <td>{{work.timestart}}</td>
                    <td>{{work.timefinish}}</td>
                    <td>{{work.diff_time}}</td>
                    <td>{{work.over_time}}</td>
                    <td>{{work.work_type}}</td>
                    <td>{{work.coffee_food}}</td>
                    <td>{{work.prepayment}}</td>
                    <td>{{work.fuel}}</td>
                    <td>{{work.phone_costs}}</td>
                    <td>{{work.payment}}</td>
                    <td><div><a href="{% url 'update_user_work' work.pk %}" >Edit</a></div></td>
                </tr>
                {% endfor %}
                <tr>
                    <td><b>RAZEM:</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>{{total_work_time}}</b></td>
                    <td><b>{{total_work_over_time}}</b></td>
                    <td></td>
                    <td><b>{{total_coffee_food}}</b></td>
                    <td><b>{{total_fuel}}</b></td>
                    <td><b>{{total_prepayment}}</b></td>
                    <td><b>{{total_phone_costs}}</b></td>
                    <td><b>{{total_payment}}</b></td>
                    <td></td>
                </tr>
            </table>

        </div>
    </div>

    {% endblock %}
</body>
</html>