{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>

    {% block content %}
        
    <div class="page-container">
        <div class="filter-container">
            <form method="POST" id="formRaport">
                {% csrf_token %}

                <a class="label_img" id="backRaport" href="{% url 'raports' %}">
                    <img src="{% static 'images/back.png' %}" width="30" height="30">
                </a>

                <input class="input_" name="sorted_from" id="datetimepicker" type="date" value="date">

                <input class="input_" name="sorted_to" id="datetimepicker" type="date" value="date">

                {% if request.user.is_superuser %}
                    <select class="input_"  name="user" placeholder="Pracownicy">
                        <option value="">Wszyscy użytkownicy</option>
                        {% for user in users_list %}
                            <option value="{{user}}">{{user}}</option>
                        {% endfor %}
                    </select>
                {% else %}
                    <select class="input_"  name="user" placeholder="Pracownik">
                        <option value="{{user.username}}">{{user.username}}</option>
                    </select>
                {% endif %}

                <select class="input_"  name="work_object">
                    <option value="">Wszystkie miejsca pracy</option>
                    {% for wo in work_objects %}
                        <option value="{{wo}}">{{wo.name}}</option>
                    {% endfor %}
                </select> 
            
                <button class="btn" type="submit" id="searchRaport"><p class="btn-title">Szukaj</p></button>

                <button class="btn" id="excelRaport" onclick="excel(event)">
                    <p class="btn-title">Excel</p>
                </button>

                <button class="btn" type="submit" id="filterRaport" name="filterRaport" value="download">
                    <p class="btn-title">Pobierz</p>
                </button>

            </form>
        </div>

        <div class="container"> 

            <table id="raportsTable">
                <form method="POST">
                    {% csrf_token %}
                    <div class="delete" id="deleteMarked">
                        <input type="checkbox" onclick="checkAll()">
                        <p>Usuń zaznaczone</p>
                        <input type="image" src="{% static 'images/delete.png' %}" width="20" height="20">
                    </div>
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" onclick="checkAll()">
                        </th>
                        <th>Data</th>
                        <th>Pracownik</th>
                        <th>Objekt</th>
                        <th>Początek</th>
                        <th>Koniec</th>
                        <th>Czas pracy</th>
                        <th>Nadgodziny</th>
                        <th>Czynność</th>
                        <th>Kawa/Posiłki</th>
                        <th>Zaliczka</th>
                        <th>Paliwo</th>
                        <th>Telefon</th>
                        <th>Opłata</th>
                        <th></th>
                        <th>
                            <div class="label_img">
                                <input type="image" src="{% static 'images/delete.png' %}" width="20" height="20">
                            </div>
                        </th>
                    </tr>
                </thead>
                {% for work in page_obj %}
                    <tr>
                        <td>
                            <input id="check" type="checkbox" name="marked" value="{{ work.id }}" >
                        </td>
                        <td class="nch" data-label="Data">{{work.date}}</td>
                        <td data-label="Pracownik">{{work.username}}</td>
                        <td class="ch" data-label="Objekt">{{work.work_object}}</td>
                        <td class="nch" data-label="Początek">{{work.timestart}}</td>
                        <td class="ch" data-label="Koniec">{{work.timefinish}}</td>
                        <td class="nch" data-label="Czas pracy">{{work.diff_time}}</td>
                        <td class="ch" data-label="Nadgodziny">{{work.over_time}}</td>
                        {% if work.work_type %}
                            <td class="odd" data-label="Czynność">{{work.work_type}}</td>
                        {% else %}
                            <td class="odd" data-label="Czynność"> - </td>
                        {% endif %}
                        <td class="nch" data-label="Kawa/Posiłki">{{work.coffee_food}}</td>
                        <td class="ch" data-label="Zaliczka">{{work.prepayment}}</td>
                        <td class="nch" data-label="Paliwo">{{work.fuel}}</td>
                        <td class="ch" data-label="Telefon">{{work.phone_costs}}</td>
                        <td class="nch" data-label="Opłata">{{work.payment}}</td>
                        <td class="ch">
                            <a class="label_img" href="{% url 'update_user_work' work.id %}" >
                                <img src="{% static 'images/edit.png' %}" width="20" height="20">
                            </a>
                        </td>
                        <td class="nch">
                            <a class="label_img" href="{% url 'deleteUserWorkQuastion' work.id %}">
                                <img src="{% static 'images/delete.png' %}" width="20" height="20">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td class="total">
                            <b>RAZEM:</b>
                        </td>
                        <td class="total"></td>
                        <td class="total"></td>
                        <td class="total"></td>
                        <td class="total"></td>
                        <td class="total"></td>
                        <td data-label="Czas pracy">
                            <b>{{total_work_time}}</b>
                        </td>
                        <td data-label="Nadgodziny">
                            <b>{{total_work_over_time}}</b>
                        </td>
                        <td class="total"></td>
                        <td data-label="Kawa/Posiłki">
                            <b>{{total_coffee_food}}</b>
                        </td>
                        <td data-label="Zaliczka">
                            <b>{{total_prepayment}}</b>
                        </td>
                        <td data-label="Paliwo">
                            <b>{{total_fuel}}</b>
                        </td>
                        <td data-label="Telefon">
                            <b>{{total_phone_costs}}</b>
                        </td>
                        <td data-label="Opłata">
                            <b>{{total_payment}}</b>
                        </td>
                        <td></td>
                        <td data-label="RAZEM">
                            <b>{{ total }}</b>
                        </td>
                    </tr>
                </form>
            </table>

            <div class="pagination">
                <span class="step-links">
                  {% if page_obj.has_previous %}
                  <a class="page" href="?page=1"><</a>
                  <a class="page" href="?page={{ page_obj.previous_page_number }}"> << </a>
                  {% endif %}

                    <span class="current-page"><p>{{ page_obj.number }}</p></span>
              
                  {% if page_obj.has_next %}
                  <a class="page" href="?page={{ page_obj.next_page_number }}">>></a>
                  <a class="page" href="?page={{ page_obj.paginator.num_pages }}">></a>
                  {% endif %}
                </span>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        function checkAll() {
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');

            for (var i = 0; i < checkboxes.length; i++) {
                if( checkboxes[i].checked == false){
                    checkboxes[i].checked = true;
                }else{
                    checkboxes[i].checked = false;
                }
            }
        }

    function excel(event){
        event.preventDefault();
        var raportsTable = document.getElementById('raportsTable');
        var filterRaport = document.getElementById('filterRaport');
        var searchRaport = document.getElementById('searchRaport');
        var backRaport = document.getElementById('backRaport');
        var excelRaport = document.getElementById('excelRaport');
        var deleteMarked = document.getElementById('deleteMarked');

        // Making buttons visible or invisible
        raportsTable.style.display = 'none';
        filterRaport.style.display = 'block';
        searchRaport.style.display = 'none';
        backRaport.style.display = 'flex';
        excelRaport.style.display = 'none';
        deleteMarked.style.display = 'none';
    }

    </script>

    {% endblock %}
</body>
</html>