{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ##################### QUESTION ##################### -->
<div id="deleteQuestion"></div>
<!-- ##################### END OF QUESTION ##################### -->

<div class="page-container">
  <div class="title">
    <div class="back">
      <a class="label_img" href="{% url 'home' %}">
        <img src="{% static 'images/back.png' %}" width="30" height="30">
      </a>
      <p class="topic">GRAFIK</p>
    </div>

    {% if done_tasks %}
      <div class="back">
        <a class="label_img">
          <img 
            src="{% static 'images/delete.png' %}" 
            width="30" height="30"
            onclick="deleteQuestionTask(
              '{{ done_tasks }}', 
              'Usunąć wszystkie zakończone zadania?', 
              'deleteAllDoneTasksQuestion'
              )"
          >
        </a>
        <p class="topic">Usuń zakończone</p>
      </div>
    {% endif %}

  </div>
  <div id="scheduleCont">
    {{ no_tasks }}
    {% for task in tasks %}
    <div class="before">
        <div class="label_img_sch">
            <p class="init">{{ task.username }}</p>
            <p class="init">{{ task.work_object.name }}</p>
        </div>
      <div id="task" class="scheduleStyle{% if task.done == True %}Done{% else %}Active{% endif %}">
        <div class="row_task_cont">
          <div id="taskDateCont">
            <div id="taskDateImg">
              <div id="taskDateBg">
                <div id="taskDate">
                  {% load l10n %}
                  {% localize on %}
                  <p>{{ task.date|slice:":2" }}</p>
                  <p>{{ task.abbreviated_month }}</p>
                  {% endlocalize %}
                </div>
                <p id="taskYear">{{ task.date|slice:"-4:" }}</p>
              </div>
            </div>
          </div>
          {% if task.done == True %}
            <p id="done">{{ task.content }}</p>
          {% else %}
            <p>{{ task.content }}</p>
          {% endif %}
        </div>
        <div class="row_task_cont">
          <a class="label_img">
            <img 
              class="label_img_tag"
              id="deleteTaskBtn"
              onclick="deleteQuestionTask('{{task.id}}', 'Usunąć te zadanie?', 'deleteTask')"
              src="{% static 'images/delete.png' %}" 
              width="30" height="30"
            >
          </a>
          <a class="label_img" href="{% url 'work_object' task.work_object.pk %}">
            <img src="{% static 'images/workobject.png' %}" width="30" height="30">
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

function hideCont(){
  var scheduleCont = document.getElementById('scheduleCont')
  $.ajax({
    type: 'GET',
    url: "{% url 'header' %}",
    success: (response) => {
        if(response.menu === 'active'){
          console.log('response', response)
          scheduleCont.style.display = 'none';
        }else{
          console.log('response', response)
          scheduleCont.style.display = 'flex';
        }
      }
    })
}

// window.onload = function() {
//     hideCont()
//   };

// setInterval(hideCont, 500);

  document.addEventListener("DOMContentLoaded", function() {
    var tasksContainer = document.getElementById("tasks_container");
    tasksContainer.style.display = "block";
  });

  window.addEventListener("beforeunload", function() {
    var tasksContainer = document.getElementById("tasks_container");
    tasksContainer.style.display = "none";
  });


  // Question for deleting the task
  function deleteQuestionTask(pk, question, funct){

        $.ajax({
            type: 'POST',
            url: "{% url 'deleteTaskQuestion' %}",
            data: {
              'pk': pk
            },
            dataType: 'json', 
            headers: {
              'X-CSRFToken': '{{ csrf_token }}'
            },
            success: function(response){
                if(response.message === 'ok'){
                    var deleteQuestion = document.getElementById('deleteQuestion')
                    deleteQuestion.style.display = 'flex';
                    var data = '<div id="questCont">'+
                                    '<p>'+question+'</p>'+
                                    '<div class="row_cont_in_label">'+
                                        '<button class="btn" onclick="'+funct+'('+pk+')">'+
                                            '<a>'+"Tak"+'</a>'+
                                        '</button>'+
                                        '<button class="btn" onclick="closeQuestionDelete()">'+
                                            '<a>'+"Nie"+'</a>'+
                                        '</button>'+
                                    '</div>'+
                                '</div>';
                        $('#deleteQuestion').html(data)
                }else{
                    alert(response.message)
                }
            },
            error: function(response){
                  alert('Błąd:', + response.responseJSON.message)
            } 
        })
    }

    // Delete the task
    function deleteTask(pk){
        $.ajax({
            type: 'POST',
            url: "{% url 'deleteTask' %}",
            data: {
                'pk': pk,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response){
                deleteQuestion.style.display = 'none';
                location.reload();
            },
            error: function(response){
                  alert('Błąd:', + response.responseJSON.message)
            } 
        })
    }

    function closeQuestionDelete(){
        deleteQuestion.style.display = 'none';
        location.reload();
    }


    function deleteAllDoneTasksQuestion(pk){
      // we doesn't need pk 
      // it just for combined function for question
      $.ajax({
        type: 'GET',
        url: "{% url 'deleteAllDoneTasksQuestion' %}",
        success: function(response){
                if(response.message === 'ok'){
                    var deleteQuestion = document.getElementById('deleteQuestion')
                    deleteQuestion.style.display = 'flex';
                    var data = '<div id="questCont">'+
                                    '<p>'+response.content+'</p>'+
                                    '<div class="row_cont_in_label">'+
                                        '<button class="btn" onclick="closeQuestionDelete()">'+
                                            '<a>'+"Ok"+'</a>'+
                                        '</button>'+
                                    '</div>'+
                                '</div>';
                        $('#deleteQuestion').html(data)
                }else{
                    alert(response.message)
                }
            },
            error: function(response){
                  alert('Błąd:', + response.responseJSON.message)
            } 

      })
    }

</script>
{% endblock %}
