{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}

    <div class="page-container">
        <div class="title">
            <div class="back">
                <a class="label_img" href="{% url 'home' %}">
                    <img src="{% static 'images/back.png' %}" width="30" height="30">
                </a>
                <p class="topic">GRAFIK</p>
            </div>
        </div>
        <div id="scheduleCont">
            <div id="taskContent">
                    {% for task in tasks %}
                        <div id="task">
                            {% if task.done == True %}
                                <p id="done">{{ task.content }}</p>
                            {% else %}
                                <p>{{ task.content }}</p>
                            {% endif %}
                            <div class="row_task_cont">
                                <a class="label_img" href="{% url 'work_object' task.work_object.pk %}">
                                    <img src="{% static 'images/enter.png' %}" width="30" height="30">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
            </div>
        </div>
    </div>

    <script>

        var tasks_container = document.getElementById("tasks_container");

        document.addEventListener("DOMContentLoaded", function() {
          tasks_container.style.display = "block";
        });

        window.addEventListener("beforeunload", function() {
          tasks_container.style.display = "none";
        });

    </script>

    {% endblock %}
</body>
</html>