{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-container">
  <div class="title">
    <div class="back">
      <a class="label_img" href="{% url 'home' %}">
        <img src="{% static 'images/back.png' %}" width="30" height="30">
      </a>
      <p class="topic">GRAFIK</p>
    </div>
  </div>
  <div id="scheduleCont">
    {% for task in tasks %}
    <div class="before">
        <div class="label_img_sch">
            <p class="init">{{ task.username }}</p>
            <p class="init">{{ task.work_object.name }}</p>
        </div>
      <div id="task" class="scheduleStyle{% if task.done == True %}Done{% else %}Active{% endif %}">
        <div class="row_task_cont">
          <div id="taskDateCont">
            <div id="taskDateImg">
              <div id="taskDateBg">
                <div id="taskDate">
                  <p>{{ task.date|slice:":2" }}</p>
                  <p>{{ task.date|slice:"2:-4" }}</p>
                </div>
                <p id="taskYear">{{ task.date|slice:"-4:" }}</p>
              </div>
            </div>
          </div>
          {% if task.done == True %}
            <p id="done">{{ task.content }}</p>
          {% else %}
            <p>{{ task.content }}</p>
          {% endif %}
        </div>
        <div class="row_task_cont">
          <a class="label_img" href="{% url 'work_object' task.work_object.pk %}">
            <img src="{% static 'images/workobject.png' %}" width="30" height="30">
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

function hideCont(){
  var scheduleCont = document.getElementById('scheduleCont')
  $.ajax({
    type: 'GET',
    url: "{% url 'header' %}",
    success: (response) => {
        if(response.menu === 'active'){
          console.log('response', response)
          scheduleCont.style.display = 'none';
        }else{
          console.log('response', response)
          scheduleCont.style.display = 'flex';
        }
      }
    })
}

// window.onload = function() {
//     hideCont()
//   };

// setInterval(hideCont, 500);

  document.addEventListener("DOMContentLoaded", function() {
    var tasksContainer = document.getElementById("tasks_container");
    tasksContainer.style.display = "block";
  });

  window.addEventListener("beforeunload", function() {
    var tasksContainer = document.getElementById("tasks_container");
    tasksContainer.style.display = "none";
  });

</script>
{% endblock %}
