{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% block content %}
        
        <div class="page-container"> 
    
            <div class="container">
    
                <div class="new_work">

                    {% if messages %}
                        {% for message in messages %}
                          <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                              <button class="allert-btn">
                                  <a href="{% url 'user_work' request.user.pk %}">Ok</a>
                              </button>
                          </div>
                        {% endfor %}
                    {% endif %}

                    <form method="POST">
                        {% csrf_token %}
                        <div class="work">
                            <p>Data</p>
                            <input name="date" id="datetimepicker" type="date" class="add" value="{{work.date}}">
                        </div>
                        <div class="work">
                            <p>Początek</p>
                            <input name="timestart" placeholder="00:00" type="time" class="add" value="{{work.timestart}}">
                        </div>
                        <div class="work">
                            <p>Koniec</p>
                            <input name="timefinish" placeholder="00:00" type="time" class="add" value="{{work.timefinish}}">
                        </div>
                        <div class="work">
                            <p>Przerwa na śniadanie:</p>
                            <div class="work">
                                <p>Początek</p>
                                <input name="timestart_break1" placeholder="00:00" type="time" class="add" value="{{work.timestart_break1}}">
                            </div>
                            <div class="work">
                                <p>Koniec</p>
                                <input name="timefinish_break1" placeholder="00:00" type="time" class="add" value="{{work.timefinish_break1}}">
                            </div>
                        </div>
    
                        <div class="work">
                            <p>Przerwa na obiad:</p>
                            <div class="work">
                                <p>Początek</p>
                                <input name="timestart_break2" placeholder="00:00" type="time" class="add" value="{{work.timestart_break2}}">
                            </div>
                            <div class="work">
                                <p>Koniec</p>
                                <input name="timefinish_break2" placeholder="00:00" type="time" class="add" value="{{work.timefinish_break2}}">
                            </div>
                        </div>
                        <div class="work">
                            <p>Miejsce pracy</p>
                            <select name="work_object" class="add">
                                {% for wo in work_objects %}
                                    <option value="{{wo.name}}">{{wo.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="work">
                            <p>Czynność</p>
                            <input name="work_type" type="text" class="work_type" value="{{work.work_type}}">
                        </div>
                        {% if request.user.is_superuser or request.user.administrator == 'Administrator' %}
                            <div class="work">
                                <p>Koszty materiałow:</p>
                                <input name="material_costs" placeholder="00.00" type="text" value="0.00" class="add">
                            </div>
                        {% endif %}
                        <div class="work">
                            <p>Kawa i posłki</p>
                            <input name="coffee_food" placeholder="00.00" type="text" value="{{work.coffee_food}}" class="add">
                        </div>
                        <div class="work">
                            <p>Paliwo</p>
                            <input name="fuel" placeholder="00.00" type="text" value="{{work.fuel}}" class="add">
                        </div>
                        <div class="work">
                            <p>Zaliczka</p>
                            <input name="prepayment" placeholder="00.00" type="text" value="{{work.prepayment}}" class="add">
                        </div>
                        <div class="work">
                            <p>Telefon</p>
                            <input name="phone_costs" placeholder="00.00" type="text" value="{{work.phone_costs}}" class="add">
                        </div>
                        <div class="work">
                            <button class="btn" type="submit">
                                <p class="btn-title">Zapisz</p>
                            </button>
                        </div>
                    </form>
            </div>
        </div>
    
        {% endblock %}

</body>
</html>