{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}"> 
    <title>Document</title>
</head>
<body>

    {% block content %}


            <div class="addwork_cont">

                <form method="POST" class="user_work">
                    {% csrf_token %}
                    <div class="work">
                        <p>Data</p>
                        <input name="date" id="datetimepicker" type="date" class="add">
                    </div>
                    <div class="work">
                        <p>Początek</p>
                        <input name="timestart" placeholder="00:00" type="time" class="add">
                    </div>
                    <div class="work">
                        <p>Koniec</p>
                        <input name="timefinish" placeholder="00:00" type="time" class="add">
                    </div>
                    <div class="work">
                        <p>Przerwa:</p>
                        <div class="work">
                            <p>Początek</p>
                            <input name="timestart_break" placeholder="00:00" type="time" class="add">
                        </div>
                        <div class="work">
                            <p>Koniec</p>
                            <input name="timefinish_break" placeholder="00:00" type="time" class="add">
                        </div>
                    </div>

                    <div class="work">
                        <p>Miejsce pracy</p>
                        <select name="work_object" class="add">
                            <option disabled selected value="">Wybierz objekt</option>
                            {% for wo in work_objects %}
                                <option value="{{wo.name}}">{{wo.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="work">
                        <p>Czynność</p>
                        <input name="work_type" type="text" class="work_type">
                    </div>
                    <div class="work">
                        <p>Kawa i posłki</p>
                        <input name="coffee_food" placeholder="00.00" type="text" value="0.00" class="add">
                    </div>
                    <div class="work">
                        <p>Paliwo</p>
                        <input name="fuel" placeholder="00.00" type="text" value="0.00" class="add">
                    </div>
                    <div class="work">
                        <p>Zaliczka</p>
                        <input name="prepayment" placeholder="00.00" type="text" value="0.00" class="add">
                    </div>
                    <div class="work">
                        <p>Telefon</p>
                        <input name="phone_costs" placeholder="00.00" type="text" value="0.00" class="add">
                    </div>
                    <div class="work">
                        <button class="btn" type="submit">
                            <p class="btn-title">Zapisz</p>
                        </button>
                    </div>
                    
                </form>

            </div>


    {% endblock %}

</body>

</html>