{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% block content %}
    <div class="page-container">
        <div class="filter-container">
            <form method="POST">
                {% csrf_token %}
                <input class="input_" name="sorted_from" id="datetimepicker" type="date" value="date">
                <input class="input_" name="sorted_to" id="datetimepicker" type="date" value="date">
                <select class="input_" name="work_object">
                    <option value="">wszystkie</option>
                    {% for wo in work_objects %}
                        <option value="{{wo}}">{{wo.name}}</option>
                    {% endfor %}
                </select>            

                <button class="btn"><p class="btn-title">Szukaj</p></button>
                <a href="{% url 'user' user.pk %}">{{ user.username }}</a>
            </form>
        </div>

        <div class="container">

            <table>
                <form method="POST">
                    {% csrf_token %}
                    <div class="delete">
                        <input type="checkbox" onclick="checkAll()">
                        <p>Usuń zaznaczone</p>
                        <input type="image" src="{% static 'images/delete.png' %}" width="30" height="30">
                    </div>
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" onclick="checkAll()">
                            <input type="image" src="{% static 'images/delete.png' %}" width="30" height="30">
                        </th>
                        <th>Data</th>
                        <th>Objekt</th>
                        <th>Początek</th>
                        <th>Koniec</th>
                        <th>Czas pracy</th>
                        {% if request.user.is_superuser %}
                            <th>Nadgodziny</th>
                        {% endif %}
                        <th>Czynność</th>
                        {% if request.user.is_superuser or request.user.administrator == 'Administrator' %}
                            <th>Koszty materiałów</th>
                        {% endif %}
                        <th>Kawa/Posiłki</th>
                        <th>Zaliczka</th>
                        <th>Paliwo</th>
                        <th>Telefon</th>
                        <th>Opłata</th>
                    </tr>
                </thead>
                {% for work in page_obj %}
                    <tr>
                        <td>
                            <input id="check" type="checkbox" name="marked" value="{{ work.id }}" >
                        </td>
                        <td data-label="Data">{{work.date}}</td>
                        <td data-label="Objekt">{{work.work_object}}</td>
                        <td data-label="Początek">{{work.timestart}}</td>
                        <td data-label="Koniec">{{work.timefinish}}</td>
                        <td data-label="Czas pracy">{{work.diff_time}}</td>
                        {% if request.user.is_superuser %}
                            <td class="ch" data-label="Nadgodziny">{{work.over_time}}</td>
                        {% endif %}
                        {% if work.work_type %}
                            <td class="odd" data-label="Czynność">{{work.work_type}}</td>
                        {% else %}
                            <td class="odd" data-label="Czynność"> - </td>
                        {% endif %}
                        {% if request.user.is_superuser or request.user.administrator == 'Administrator' %}
                            <td class="ch" data-label="Koszty materiałów">{{work.material_costs}}</td>
                        {% endif %}
                        <td data-label="Kawa/Posiłki">{{work.coffee_food}}</td>
                        <td data-label="Zaliczka">{{work.prepayment}}</td>
                        <td data-label="Paliwo">{{work.fuel}}</td>
                        <td data-label="Telefon">{{work.phone_costs}}</td>
                        <td data-label="Opłata">{{work.payment}}</td>
                        <td class="ch">
                            <a class="label_img" href="{% url 'update_user_work' work.pk %}" >
                                <img src="{% static 'images/edit.png' %}" width="30" height="30">
                            </a>
                        </td>
                        <td class="nch">
                            <a class="label_img" href="{% url 'deleteUserWorkQuastion' work.pk %}">
                                <img src="{% static 'images/delete.png' %}" width="30" height="30">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td data-label="RAZEM">RAZEM:</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td data-label="Czas pracy">{{total_work_time}}</td>
                        {% if request.user.is_superuser %}
                            <td data-label="Nadgodziny">
                                <b>{{total_work_over_time}}</b>
                            </td>
                        {% endif %}
                        <td ></td>
                        {% if request.user.is_superuser or request.user.administrator == 'Administrator' %}
                            <td data-label="Koszty materiałów">
                                <b>{{total_material_costs}}</b>
                            </td>
                        {% endif %}
                        <td data-label="Kawa/Posiłki">{{total_coffee_food}}</td>
                        <td data-label="Zaliczka">{{total_fuel}}</td>
                        <td data-label="Paliwo">{{total_prepayment}}</td>
                        <td data-label="Telefon">{{total_phone_costs}}</td>
                        <td data-label="Opłata">{{total_payment}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                </form>
            </table>

            <div class="pagination">
                <span class="step-links">
                  {% if page_obj.has_previous %}
                  <a class="page" href="?page=1"><</a>
                  <a class="page" href="?page={{ page_obj.previous_page_number }}"> << </a>
                  {% endif %}

                    <span class="current-page"><p>{{ page_obj.number }}</p></span>
              
                  {% if page_obj.has_next %}
                  <a class="page" href="?page={{ page_obj.next_page_number }}">>></a>
                  <a class="page" href="?page={{ page_obj.paginator.num_pages }}">></a>
                  {% endif %}
                </span>
            </div>

        </div>
    </div>

    <script src="{% static 'js/user_raport.js' %}"></script>

    {% endblock %}
</body>
</html>