{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% block content %}
    <div class="page-container">
        <div class="filter-container">
            <form method="POST">
                {% csrf_token %}
                <input class="input_" name="sorted_from" id="datetimepicker" type="date" value="date">
                <input class="input_" name="sorted_to" id="datetimepicker" type="date" value="date">
                <select class="input_" name="work_object">
                    <option value="">wszystkie</option>
                    {% for wo in work_objects %}
                        <option value="{{wo}}">{{wo.name}}</option>
                    {% endfor %}
                </select>            

                <button class="btn"><p class="btn-title">Szukaj</p></button>
                <a href="{% url 'user' user.pk %}" class="input_">{{ user.username }}</a>
            </form>
        </div>

        <div class="container">

            <table>
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Objekt</th>
                        <th>Początek</th>
                        <th>Koniec</th>
                        <th>Czas pracy</th>
                        <th>Nadgodziny</th>
                        <th>Czynność</th>
                        <th>Kawa/Posiłki</th>
                        <th>Zaliczka</th>
                        <th>Paliwo</th>
                        <th>Telefon</th>
                        <th>Opłata</th>
                    </tr>
                </thead>
                {% for work in works %}
                    <tr>
                        <td data-label="Data">{{work.date}}</td>
                        <td data-label="Objekt">{{work.work_object}}</td>
                        <td data-label="Początek">{{work.timestart}}</td>
                        <td data-label="Koniec">{{work.timefinish}}</td>
                        <td data-label="Czas pracy">{{work.diff_time}}</td>
                        <td data-label="Nadgodziny">{{work.over_time}}</td>
                        {% if work.work_type %}
                            <td class="odd" data-label="Czynność">{{work.work_type}}</td>
                        {% else %}
                            <td class="odd" data-label="Czynność"> - </td>
                        {% endif %}
                        <td data-label="Kawa/Posiłki">{{work.coffee_food}}</td>
                        <td data-label="Zaliczka">{{work.prepayment}}</td>
                        <td data-label="Paliwo">{{work.fuel}}</td>
                        <td data-label="Telefon">{{work.phone_costs}}</td>
                        <td data-label="Opłata">{{work.payment}}</td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td data-label="RAZEM"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td data-label="Czas pracy">{{total_work_time}}</td>
                        <td data-label="Nadgodziny">{{total_work_over_time}}</td>
                        <td ></td>
                        <td data-label="Kawa/Posiłki">{{total_coffee_food}}</td>
                        <td data-label="Zaliczka">{{total_fuel}}</td>
                        <td data-label="Paliwo">{{total_prepayment}}</td>
                        <td data-label="Telefon">{{total_phone_costs}}</td>
                        <td data-label="Opłata">{{total_payment}}</td>
                    </tr>
            </table>

        </div>
    </div>
    {% endblock %}
</body>
</html>