{% extends 'base.html' %}
{% load static %}
{% load vacation_requests %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <div class="page-container">

            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                  <button type="button" class="close" onclick="this.parentElement.style.display='none'">
                      &times;
                  </button>
                </div>
              {% endfor %}
            {% endif %}

            <div class="vacations_filter_cont" id="vacations_filter_cont">
                <p>Zarządzanie urlopami</p>
                <p>{{ user.username }}</p>
                <div>
                    <button class="btn download"><a href="{% url 'vacationsExcelPage' %}">Excel</a></button>
                    <button class="btn"><a class="btn-title" href="{% url 'addVacation' %}">+ Dodaj urlop</a></button>
                    {% if request.user.is_superuser %}
                        <button class="btn download tags_cont_mini"><a href="{% url 'allVacationRequests' %}">
                            Wnioski <span class="header_quantity">{% request_quantity %}</span>
                        </a></button>
                    {% endif %}
                </div>
            </div>

            <div class="vacations_grafic_container">
                <div class="vacations_mini_cont">
                    {% if request.user.is_superuser %}
                        <form method="POST" id="users">
                            {% csrf_token %}
                            <select name="user" class="vacations_input" onchange="submitFormUsers()">
                                <option value="">Urlopy</option>
                                {% for user in users %}
                                    <option value="{{ user }}">{{ user }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    {% else %}
                        <p>{{ user.username }}</p>
                    {% endif %}
                    <form method="POST" id="years">
                        {% csrf_token %}
                        <select name="year" class="vacations_input" onchange="submitFormYears()">
                            <option value="">Wszystko</option>
                            {% for year in years_list %}
                                <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>

                <div class="vacations_mini_cont">
                    <div>
                        <p>Do użycia w bierzącym roku: &nbsp; {{ user.days_to_use_in_current_year_de }}</p>
                        <p>Użyto w bieżącym roku: &nbsp; {{ days_used_in_current_year }}</p>
                    </div>
                    <div>
                        <p>Do użycia za poprzedni rok: &nbsp; &nbsp; {{ request.user.last_year_vacations_days_quantity_de }}</p>
                        <p>Dni urlopu od początku roku: &nbsp; {{ actually_days_to_use }}</p>
                    </div>
                    <!-- <div>
                        <p>Ilość urlopu na żądanie: &nbsp; {{ request.user.vacacions_on_demand }} </p>
                        <p>Ilość urlopu opiekuńczego: &nbsp; {{ request.user.cares_vacations }} </p>
                    </div>
                    <div>
                        <p>Z powodu siły wyższej: &nbsp; {{ request.user.force_majeure_vacations }}g </p>
                        <p>Urlop okolicznościowy: &nbsp; {{ request.user.compassionate_vacations }} </p>
                    </div> -->
                </div>
                <!-- <form method="POST">
                    {% csrf_token %}
                    <button class="btn download"><a href="">Pobierz</a></button>
                </form> -->
            </div>

        <div class="container">
            <table id="table">
                <form method="POST">
                    {% csrf_token %}
                    {% if request.user.is_superuser %}
                        <div class="delete">
                            <input type="checkbox" onclick="checkAll()">
                            <p>Usuń zaznaczone</p>
                            <input type="image" src="{% static 'images/delete.png' %}" width="30" height="30">
                        </div>
                    {% endif %}
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" onclick="checkAll()">
                        </th>
                        <th>Data</th>
                        <th>Typ urlopu</th>
                        <th>Od</th>
                        <th>Do</th>
                        <th>Ilość dni</th>
                        <th>Akceptacja</th>
                        <th></th>
                        <th>
                            {% if request.user.is_superuser %}
                                <div class="label_img">
                                    <input type="image" src="{% static 'images/delete.png' %}" width="30" height="30">
                                </div>
                            {% endif %}
                        </th>
                    </tr>
                </thead>
                {% for v in page_obj %}
                    <tr>
                        <td>
                            <input id="check" type="checkbox" name="marked" value="{{ v.id }}" >
                        </td>
                        <td data-label="Data">{{ v.date }}</td>
                        <td data-label="Typ urlopu">{{ v.type }}</td>
                        <td data-label="Od">{{ v.v_from }}</td>
                        <td data-label="Do">{{ v.v_to }}</td>
                        <td data-label="Ilość dni">{{ v.days_planned }}</td>
                        {% if  v.accepted is True %}
                            <td data-label="Akceptacja">
                                <img src="{% static 'images/accept.png' %}" width="20" height="20">
                            </td>
                            <td></td>
                            <td></td>
                        {% elif v.consideration is True %}
                            <td data-label="Akceptacja">
                                <img src="{% static 'images/question.png' %}" width="20" height="20">
                            </td>
                            <td data-label="Edytuj">
                                <a href="{% url 'editVacation' v.pk %}">
                                    <img src="{% static 'images/edit.png' %}" width="20" height="20">
                                </a>
                            </td>
                            <td data-label="Usuń">
                                <a href="{% url 'deleteVacationPage' v.pk %}">
                                    <img src="{% static 'images/delete.png' %}" width="20" height="20">
                                </a>
                            </td>
                        {% elif v.accepted is False %}
                            <td data-label="Akceptacja">
                                <img src="{% static 'images/close.png' %}" width="20" height="20">
                            </td>
                            <td></td>
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </form>
            </table>
        
            <div class="pagination">
                <span class="step-links">
                  {% if page_obj.has_previous %}
                  <a class="page" href="?page=1"><</a>
                  <a class="page" href="?page={{ page_obj.previous_page_number }}"> << </a>
                  {% endif %}

                    <span class="current-page"><p>{{ page_obj.number }}</p></span>
              
                  {% if page_obj.has_next %}
                  <a class="page" href="?page={{ page_obj.next_page_number }}">>></a>
                  <a class="page" href="?page={{ page_obj.paginator.num_pages }}">></a>
                  {% endif %}
                </span>
            </div>
        </div>
    </div>

        <script> 

            // The vacations variable must be assigned here 
            // to be called in header.html with js function
            var vacations = document.getElementById('vacations_filter_cont')

            function submitFormUsers() {
              var form = document.getElementById("users");
              form.submit();
            }

            function submitFormYears() {
              var form = document.getElementById("years");
              form.submit();
            }

            function checkAll() {
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');

            for (var i = 0; i < checkboxes.length; i++) {
                if( checkboxes[i].checked == false){
                    checkboxes[i].checked = true;
                }else{
                    checkboxes[i].checked = false;
                }
            }
        }

        </script>

    {% endblock %}
</body>
</html>