{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% block content %}
            <div class="page-container">
                <h2>Wniosek o urlop #{{ pk }}</h2>

                <div class="add_vacations_grafic_container">

                    <form method="POST">
                        {% csrf_token %}
                    
                        <div class="vacations_mini_cont">
                            <p class="field">Imię i nazwisko:</p>
                            <input class="vacations_input" value="{{ req.username }}">
                        </div>
                    
                        <div class="vacations_mini_cont">
                            <p class="field">Data wniosku:</p>
                            <input class="vacations_input" value="{{ req.date }}">
                        </div>
                    
                        <div class="vacations_mini_cont" name="type">
                            <p class="field">Typ urlopu:</p>
                            <input class="vacations_input" value="{{ req.type }}">
                        </div>
                    
                        <div class="vacations_mini_cont">
                            <p class="field">Od:</p>
                            <input class="vacations_input" value="{{ req.v_from }}">
                        </div>
                    
                        <div class="vacations_mini_cont">
                            <p class="field">Do:</p>
                            <input class="vacations_input" value="{{ req.v_to }}">
                        </div>
                    
                        <div class="vacations_mini_cont">
                            {% if req.type == 'z powodu siły wyższej' %}
                                <p class="field">Liczba godzin urlopu:</p>
                                <input class="vacations_input" value="{{ req.days_planned }}">
                            {% else %}
                                <p class="field">Liczba dni urlopu:</p>
                                <input class="vacations_input" value="{{ req.days_planned }}">
                            {% endif %}
                        </div>

            
                        <div class="btn_cont">
                            <button type="submit" class="btn_accept" name="accept">
                                <span class="btn-title">Akceptuj</span>
                                <img src="{% static 'images/accept.png' %}" width="20" height="20">
                            </button>
                            <button type="submit" class="btn_reject" name="reject">
                                <span class="btn-title">Odrzóć</span>
                                <img src="{% static 'images/close.png' %}" width="20" height="20">
                            </button>
                        </div>

                    </form>
                    
                </div>

            </div>

    {% endblock %}
    
</body>
</html>