{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    <title>Document</title>
</head>
<body>

    {% block content %}
    <div class="page-container">

        <div class="title">
                <div class="back">
                    <a class="label_img" href="{% url 'work_objects' request.user.pk %}">
                        <img src="{% static 'images/back.png' %}" width="30" height="30">
                    </a>
                    <h3>{{ work_object.name }}</h3>
                </div>
        {% if request.user.is_superuser %}
            <form  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="back">
                    <select name="user" class="search">
                        <option value="">Dodaj pracownika</option>
                        {% for user in allusers %}
                            <option value="{{user}}">{{user.username}}</option>
                        {% endfor %}
                    </select> 
                    <button type="image" class="label_img" name="add_user">
                        <img src="{% static 'images/addwork.png' %}" width="30" height="30">
                    </button>
                </div>
            </form>  
        {% endif %}
    </div>
        <br>  

        <div class="wo_container">
            {% for user in users %} 
                {% if request.user.is_superuser %}
                    <div class="label" >

                        <div class="row_cont_in_label">
                            <a class="label_img" href="{% url 'workobject_raport' user.pk work_object.pk %}">
                                <img src="{% static 'images/enter.png' %}" width="30" height="30">
                            </a>
                            {{user.username}} 
                        </div>

                        <a class="label_img" href="{% url 'deleteUserFromObjectQuestion' user.pk work_object.pk %}">
                            <img src="{% static 'images/delete.png' %}" width="30" height="30">
                          </a>
                        </div> 
  
                    <br>
                {% else %}
                    <div class="label">
                        <p>{{user.username}}</p> 
                    </div>   
                    <br>
                {% endif %}
            {% endfor %}
            <br>

            <h1>Czat</h1>
            <h1 id="currentDate"></h1>

            <div id="chato" class="chat_container"></div>
            
            <form id="chat-form" method="POST">
                {% csrf_token %}
                <div class="chat_input_cont">
                    <textarea name="content" class="chat_input" placeholder="Napisz coś..." wrap="soft" id="content"></textarea>
                    <a
                        id="chat_push" 
                        class="label_img" 
                        onclick="sendChatMessage(event)"
                        name="chat"
                        type="button"
                    >
                        <img src="{% static 'images/send.png' %}" width="40" height="40">
                    </a>
                </div>
        
            </form>
            <br>

            {% if request.user.is_superuser %}
            <div class="label">
                <p>Pensje:</p>
                <p id="total_payment">{{ total_payment }}</p>
            </div>
            <br>
            <div class="label">
                <p>Kawa/Posiłki:</p>
                <p id="total_coffee_food">{{ total_coffee_food }}</p>
            </div>
            <br>
            <div class="label">
                <p>Paliwo:</p>
                <p id="total_fuel">{{ total_fuel }}</p>
            </div>
            <br>
            <div class="label">
                <p>Telefon:</p>
                <p id="total_phone_costs">{{ total_phone_costs }}</p>
            </div>
            <br>
            <div class="label">
                <p>Koszty projektu:</p>
                <p id="total_phone_costs">{{ total }}</p>
            </div>
            <br>

            <div class="chart">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        </div>
        {% endif %}
              
    </div>   

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script> 

    window.addEventListener('DOMContentLoaded', function() {
      var chatContainer = document.getElementById('chato');
      chatContainer.scrollTop = chatContainer.scrollHeight;
    });

    // POST
    function sendChatMessage(event){
        event.preventDefault();
          var txt = document.getElementById("content").value;
          var user = "{{ user }}"
          textarea = document.getElementById("content")

          $.ajax({
              type: 'POST',
              url: "{% url 'chat' work_object.pk %}",
              data: {
                  'txt': txt,
                  'user': user,
                  'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
              },
              success: (data) => {
                console.log(data);
                $('#content').empty();
                textarea.value = '';
              },
              error: (data) => {
                  console.log('error')
                  $('#content').empty();
              }                
          })             
        }
    
    
    // GET
    $(document).ready(function(){
        var Ty = 'Ty:'

        setInterval(function(){
            $.ajax({
                type: 'GET',
                url: "{% url 'chat' work_object.pk %}",
                success: function(response){
                    $('#chato').empty();
                    for (var key in response.messages){
                       if(response.user === response.messages[key].name){
                            var data= '<p class="r">'+Ty+'</p>'+
                                    '<div class="chat_label_r">'+
                                        '<p class="chat_content">'+response.messages[key].content+'</p>'+
                                        '<p class="chat_time">'+response.messages[key].day+response.messages[key].time+'</p>'+
                                    '</div>'
                        }else{
                            var data='<p class="l">'+response.messages[key].name+'</p>'+
                                    '<div class="chat_label_l">'+
                                        '<p class="chat_content">'+response.messages[key].content+'</p>'+
                                        '<p class="chat_time">'+response.messages[key].day+response.messages[key].time+'</p>'+
                                    '</div>'
                        }
                                
                    $('#chato').append(data)
                    }
                },
                error: function(response){
                    // alert('Error')
                }
            })
        },1000)
    })

    // CHART

    document.addEventListener('DOMContentLoaded', function() {

        // Retrieve the data from the Django view
        var total_payment = JSON.parse(document.getElementById('total_payment').textContent);
        var total_fuel = JSON.parse(document.getElementById('total_fuel').textContent);
        var total_coffee_food = JSON.parse(document.getElementById('total_coffee_food').textContent);
        var total_phone_costs = JSON.parse(document.getElementById('total_phone_costs').textContent);
        var values = [
            total_payment,
            total_fuel,
            total_coffee_food,
            total_phone_costs,
        ]
        var labels = [
            'Pensje',
            'Paliwo',
            'Kawa/Posiłki',
            'Telefon',
        ]
        console.log(values, labels)
        // Create the pie chart using Chart.js
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    data: values,
                    backgroundColor: [
                        '#9fadcc',
                        '#212A3E',
                        '#394867',
                        '#485268'
                    ]
                }]
            },
        });
    });
        
    </script>  


    
    {% endblock %}
    
</body>
</html>