{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% block content %}
    <div class="page-container">
        <div class="filter-container">
            <form method="POST">
                {% csrf_token %}
                <input class="input_" name="sorted_from" id="datetimepicker" type="date">
                <input class="input_" name="sorted_to" id="datetimepicker" type="date">
                <select name="work_object">
                    <option value="">{{work_object.name}}</option>
                </select>            

                <button class="btn"><p class="btn-title">Szukaj</p></button>
            </form>
        </div>
        <div class="container">

            <table>
                <tr>
                    <th>Data</th>
                    <th>Objekt</th>
                    <th>Początek</th>
                    <th>Koniec</th>
                    <th>Czas pracy</th>
                    <th>Nadgodziny</th>
                    <th>Czynność</th>
                    <th>Kawa/Posiłki</th>
                    <th>Zaliczka</th>
                    <th>Paliwo</th>
                    <th>Telefon</th>
                    <th>Opłata</th>
                </tr>
                {% for work in work_by_date %}
                <tr>
                    <td>{{work.date}}</td>
                    <td>{{work.work_object}}</td>
                    <td>{{work.timestart}}</td>
                    <td>{{work.timefinish}}</td>
                    <td>{{work.diff_time}}</td>
                    <td>{{work.over_time}}</td>
                    <td>{{work.work_type}}</td>
                    <td>{{work.coffee_food}}</td>
                    <td>{{work.prepayment}}</td>
                    <td>{{work.fuel}}</td>
                    <td>{{work.phone_costs}}</td>
                    <td>{{work.payment}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{total_work_time}}</td>
                    <td>{{total_work_over_time}}</td>
                    <td></td>
                    <td>{{total_coffee_food}}</td>
                    <td>{{total_fuel}}</td>
                    <td>{{total_prepayment}}</td>
                    <td>{{total_phone_costs}}</td>
                    <td>{{total_payment}}</td>
                </tr>
            </table>

        </div>
    </div>

    {% endblock %}
</body>
</html>