{% extends 'base.html' %}
{% load static %}
{% load messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% block content %}

<div class="wo_container">
    <h1>MIEJSCA PRACY</h1>
    <br>

        {% for wo in work_objects %}
            <div >
                <a class="label" href="{% url 'work_object' wo.pk %}">
                    {{wo.name}} 
                    <div class="tags_cont_mini">
                        <span class="icon">
                            <img src="{% static 'images/letters.png' %}" width="30" height="25">
                        </span>
                                
                            {% messages_quantity request.user.username wo as count %}
                            {% if count > 0 %}
                                <span class="rotate_quantity">
                                    {{ count }}
                                </span>
                            {% else %}
                                <span class="quantity">
                                    {{ count }}
                                </span>
                            {% endif %}
                                   
                    </div>
                </a>
            </div> 
            <br>
        {% endfor %}
        <br>

    <button class="cwo_btn"><a href="{% url 'create_work_object' %}"><p class="btn-title">Dodaj</p></a></button>
</div>

{% endblock %}
    
</body>
</html>