{% extends 'base.html' %}
{% load static %}
{% load messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% block content %}

<div class="page-container">

    <div class="title">
        <h3>MIEJSCA PRACY</h3>
        <form method="POST" class="search_form">
            {% csrf_token %}
            <select name="object" class="search">
                <option disabled selected hidden>Szukaj objekt</option>                        
                <option >Wszystkie objekty</option>
                {% for o in work_objects_list %}
                    <option value="{{o}}">{{o}}</option>
                {% endfor %}
            </select> 
            <input type="image" src="{% static 'images/search.png' %}" width="30" height="30">
        </form>
    </div>
    <br>

    <div class="wo_container">
        {% for wo in work_objects %}
            <div class="label">

                <div class="row_cont_in_label">
                    <a class="label_img" href="{% url 'work_object' wo.pk %}">
                        <img src="{% static 'images/enter.png' %}" width="30" height="30">
                    </a>
                    {{wo.name}}
                </div>

                <div class="row_cont_in_label">
                    <div class="tags_cont_mini">
                        <span class="icon">
                            <img src="{% static 'images/letters.png' %}" width="30" height="25">
                        </span>
                                
                            {% messages_quantity request.user.username wo as count %}
                            {% if count > 0 %}
                                <span class="rotate_quantity">
                                    {{ count }}
                                </span>
                            {% else %}
                                <span class="quantity">
                                    {{ count }}
                                </span>
                            {% endif %}
                                   
                    </div>
                
                    <a class="label_img" href="{% url 'deleteWorkObjectQuestion' wo.pk %}">
                      <img src="{% static 'images/delete.png' %}" width="30" height="30"> 
                    </a>
                </div>

            </div>
            <br>
        {% endfor %}
        <br>

    {% if request.user.is_superuser %}
        <button class="cwo_btn">
            <a href="{% url 'create_work_object' %}">
                <p class="btn-title">
                    Dodaj
                </p>
            </a>
        </button>
    {% endif %}
    <div class="pagination">
        <span class="step-links">
          {% if work_objects.has_previous %}
          <a class="page" href="?page=1"><</a>
          <a class="page" href="?page={{ work_objects.previous_page_number }}"> << </a>
          {% endif %}

            <span class="current-page"><p>{{ work_objects.number }}</p></span>
      
          {% if work_objects.has_next %}
          <a class="page" href="?page={{ work_objects.next_page_number }}">>></a>
          <a class="page" href="?page={{ work_objects.paginator.num_pages }}">></a>
          {% endif %}
        </span>
    </div>
</div>

{% endblock %}
    
</body>
</html>