{% extends 'base.html' %}
{% load static %}
{% load messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    <title>Document</title>
</head>
<body>

    {% block content %}

    <!-- ##################### TASKs ##################### -->
    <div id="tasks_container"></div>
    <!-- ##################### END OF TASKS ##################### -->

    <!-- ##################### QUESTION ##################### -->
    <div id="deleteQuestion"></div>
    <!-- ##################### END OF QUESTION ##################### -->

    <div class="page-container" id="pageCont">

        <div class="title">
                <div class="back">
                    <a class="label_img" href="{% url 'work_objects' %}">
                        <img src="{% static 'images/back.png' %}" width="30" height="30">
                    </a>
                    <a class="label_img" href="{% url 'schedule' %}">
                        <img src="{% static 'images/schedule.png' %}" width="30" height="30">
                    </a>
                    <h3>{{ work_object.name }}</h3>
                </div>
        {% if request.user.is_superuser %}
            <form  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="back">
                    <select name="user" class="search">
                        <option value="">Dodaj pracownika</option>
                        {% for user in allusers %}
                            <option value="{{user}}">{{user.username}}</option>
                        {% endfor %}
                    </select> 
                    <button type="image" class="label_img" name="add_user">
                        <img src="{% static 'images/addwork.png' %}" width="30" height="30">
                    </button>
                </div>
            </form>  
        {% endif %}
    </div>
        <br>  

        <div class="wo_container">
            {% for user in users %} 
                {% if request.user.is_superuser %}

                    <!-- ##################### LABEL FOR EACH USER ##################### -->
                        <div class="label" >

                            <div class="row_cont_in_label">
                                <a class="label_img" href="{% url 'workobject_raport' user.pk work_object.pk %}">
                                    <img src="{% static 'images/enter.png' %}" width="30" height="30">
                                </a>
                                {{user.username}} 
                            </div>
    
                            <div class="row_cont_in_label">
                                <img 
                                    class="label_img" 
                                    src="{% static 'images/schedule.png' %}" 
                                    width="30" height="30"
                                    onclick="showTasks('{{ user.pk }}', '{{work_object.pk}}' )"
                                >
                                <a class="label_img" href="{% url 'deleteUserFromObjectQuestion' user.pk work_object.pk %}">
                                    <img src="{% static 'images/delete.png' %}" width="30" height="30">
                                </a>
                            </div>
    
                        </div>
    
                    <br>
            
                {% else %}
                    <div class="label">
                        <p>{{user.username}}</p>
                        <div class="row_cont_in_label">
                            {% if user == request.user %}
                            <img 
                                class="label_img" 
                                src="{% static 'images/schedule.png' %}" 
                                width="30" height="30"
                                onclick="showTasks('{{ user.pk }}', '{{work_object.pk}}' )"
                            >
                            {% endif %}
                        </div> 
                    </div>   
                    <br>
                {% endif %}
            {% endfor %}
        
            <br>
            <!-- ##################### END OF LABEL FOR EACH USER ##################### -->

            <!-- ##################### CHAT ##################### -->
            <div class="row_cont_in_label">
                <h1>Czat</h1>
                {% if request.user.is_superuser %}
                    <img 
                        src="{% static 'images/delete.png' %}"
                        width="20"
                        height="20"
                        onclick="deleteQuestionMessages('{{work_object}}')"
                    >
                {% endif %}
            </div>

            <h1 id="currentDate"></h1>

            <div class="chat_container">
                <div id="chato"></div>
                    <div id="chat_down">
                        <img 
                        src="{% static 'images/down_100.png' %}" 
                        width="20" height="20" 
                        id="chat_down"
                        onclick="lastMessage()"
                        >
                    </div>
            </div>
            
            <form id="chat-form" method="POST">
                {% csrf_token %}
                <div id="chat_input_cont">
                    <textarea name="content" class="chat_input" placeholder="Napisz coś..." wrap="soft" id="content"></textarea>
                    <a
                        id="chat_push" 
                        class="label_img" 
                        onclick="sendChatMessage(event)"
                        name="chat"
                        type="button"
                    >
                        <img src="{% static 'images/send.png' %}" width="40" height="40">
                    </a>
                </div>
        
            </form>
            <br>

            <!-- ##################### END CHAT ##################### -->

            {% if request.user.is_superuser or request.user.administrator == 'Administrator' %}
            <div class="label">
                <p>Pensje:</p>
                <p id="total_payment">{{ total_payment }}</p>
            </div>
            <br>
            <div class="label">
                <p>Koszty materiałów:</p>
                <p id="total_material_costs">{{ total_material_costs }}</p>
            </div>
            <br>
            <div class="label">
                <p>Kawa/Posiłki:</p>
                <p id="total_coffee_food">{{ total_coffee_food }}</p>
            </div>
            <br>
            <div class="label">
                <p>Paliwo:</p>
                <p id="total_fuel">{{ total_fuel }}</p>
            </div>
            <br>
            <div class="label">
                <p>Telefon:</p>
                <p id="total_phone_costs">{{ total_phone_costs }}</p>
            </div>
            <br>
            {% for s in subcontractors %}
                <div class="label">
                    <p>{{ s.name }}:</p>
                    <div class="row_simple">
                        <p id="subcontractors_{{ s.name }}">{{ s.sum }}</p>
                        <p style="display: none;" id="subcontractors_sum">{{ subcontractors_sum }}</p>
                        <a class="label_img">
                            <img 
                                src="{% static 'images/delete.png' %}" 
                                width="30" height="30"
                                onclick="deleteQuestionSubcontractor('{{ s.id }}')"
                            >
                        </a>
                    </div>
                </div>
                <br>
            {% endfor %}
            <div class="row_simple_start">
                <img 
                    src="{% static 'images/addwork.png' %}" 
                    width="40" height="40"
                    style="cursor: pointer;"
                    onclick="addSubcontractor(event)"
                >
                <p>Dodaj pomocnika/podwykonawcę</p>
            </div>
            <br>
            <div id="row_simple_sub">
                <input class="input_sub"  type="text" placeholder="Pomocnik/Powykonawca" name="subcontractor" id="subcontractor">
                <br>
                <input class="input_sub" type="text" placeholder="Czas pracy" name="time" id="time">
                <br>
                <input class="input_sub" type="text" placeholder="Koszt za godzinę" name="price" id="price">
                <br>
                <img 
                    src="{% static 'images/done.png' %}" 
                    width="40" height="40"
                    onclick="submitSubcontractor(event)"
                >
            </div>
            <br>
            <div class="label">
                <p>Koszty projektu:</p>
                <p id="total_phone_costs">{{ work_object.total }}</p>
            </div>
            <br>

            <div class="work">
                <button class="btn" id="work_object_status" onclick="changeStatus(event)">
                    <p class="btn-title" id="btl">
                        {% if work_object.status == 'Aktywne' %}
                            Zakończ
                        {% else %}
                            Aktywuj
                        {% endif %}
                    </p>
                </button>
            </div>

            <div class="chart">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        </div>
        {% endif %}
              
    </div>   

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <script> 

    var chatWindow = document.getElementById('chato')
    var shouldToBottom = true 
    var work_object = '{{ work_object }}';
    var user = "{{ user }}"
    var csrfToken = '{{ csrf_token }}';

    // Button to up down of the chat window
    var chatDown = document.getElementById('chat_down')
    var chatDownQuantity = document.getElementById('chat_down_quantity') // it was a <span id='chat_down_quantity' /> it deleted for now

    var chwost = "{% url 'changeStatusWorkObject' work_object.pk %}";
    var cht = "{% url 'chat' work_object.pk %}";
    
    var is_read_icon = '{% static "images/is_read.png" %}';
    var un_read_icon = '{% static "images/un_read.png" %}';
    var del_mess_icon = '{% static "images/deleteMess.png" %}';
    var mess_history = "{% url 'showMessageHistory' work_object.pk %}";
    var check_mess = "{% url 'chek_messages' work_object.pk %}";
    var dell_mess = "{% url 'deleteMessConf' %}";
    var qwest_dell_all_mess = "{% url 'deleteQuestionMessages' %}";
    var dell_all_mess = "{% url 'deleteAllMessagesWO' %}";

    var showT = "{% url 'task' %}";
    var doneT = "{% url 'doneTask' %}";
    var newT = "{% url 'new_task'  %}";
    var delT = "{% url 'deleteTask' %}";
    var delTQ = "{% url 'deleteTaskQuestion' %}";
    var tasks_container = document.getElementById('tasks_container');
    var pageCont = document.getElementById('pageCont');
    var deleteTaskBtn = document.getElementById('deleteTaskBtn');
    var superus = '{% if request.user.is_superuser %}';
    var end_superus = '{% endif %}';
    var token = '{% csrf_token %}';
    var close_icon = '{% static "images/close.png" %}';
    var add_icon = '{% static "images/addwork.png" %}';
    var delete_icon = '{% static "images/delete.png" %}';
    var done_icon = '{% static "images/done.png" %}';

    var addSC = "{% url 'addSubcontractor' work_object.pk %}";
    var delSC = "{% url 'deleteSubcontractor' %}";
        
    </script>  
    <script src="{% static 'js/subcontractor.js' %}"></script>
    <script src="{% static 'js/wo_tasks.js' %}"></script>
    <script src="{% static 'js/work_object.js' %}"></script>
    <script src="{% static 'js/chat.js' %}"></script>
    <script src="{% static 'js/chart.js' %}"></script>

    
    {% endblock %}
    
</body>
</html>