{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% block content %}

    <h1>MIEJSCA PRACY</h1>

    {% for wo in work_objects %}
        <div><a href="{% url 'work_object' wo.pk %}">{{wo.name}}</a></div> 
    {% endfor %}

    <div class="btn"><a class="btn-title" href="{% url 'create_work_object' %}">Dodaj</a></div>

{% endblock %}
    
</body>
</html>