{% extends 'base.html' %}
{% load static %}
{% load messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    <title>Document</title>
</head>
<body>

    {% block content %}

    <!-- ##################### TASKs ##################### -->
    <div id="tasks_container"></div>
    <!-- ##################### END OF TASKS ##################### -->

    <!-- ##################### QUESTION ##################### -->
    <div id="deleteQuestion"></div>
    <!-- ##################### END OF QUESTION ##################### -->

    <div class="page-container" id="pageCont">

        <div class="title">
                <div class="back">
                    <a class="label_img" href="{% url 'work_objects' %}">
                        <img src="{% static 'images/back.png' %}" width="30" height="30">
                    </a>
                    <a class="label_img" href="{% url 'schedule' %}">
                        <img src="{% static 'images/schedule.png' %}" width="30" height="30">
                    </a>
                    <h3>{{ work_object.name }}</h3>
                </div>
        {% if request.user.is_superuser %}
            <form  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="back">
                    <select name="user" class="search">
                        <option value="">Dodaj pracownika</option>
                        {% for user in allusers %}
                            <option value="{{user}}">{{user.username}}</option>
                        {% endfor %}
                    </select> 
                    <button type="image" class="label_img" name="add_user">
                        <img src="{% static 'images/addwork.png' %}" width="30" height="30">
                    </button>
                </div>
            </form>  
        {% endif %}
    </div>
        <br>  

        <div class="wo_container">
            {% for user in users %} 
                {% if request.user.is_superuser %}

                    <!-- ##################### LABEL FOR EACH USER ##################### -->
                        <div class="label" >

                            <div class="row_cont_in_label">
                                <a class="label_img" href="{% url 'workobject_raport' user.pk work_object.pk %}">
                                    <img src="{% static 'images/enter.png' %}" width="30" height="30">
                                </a>
                                {{user.username}} 
                            </div>
    
                            <div class="row_cont_in_label">
                                <img 
                                    class="label_img" 
                                    src="{% static 'images/schedule.png' %}" 
                                    width="30" height="30"
                                    onclick="showTasks('{{ user.pk }}', '{{work_object.pk}}' )"
                                >
                                <a class="label_img" href="{% url 'deleteUserFromObjectQuestion' user.pk work_object.pk %}">
                                    <img src="{% static 'images/delete.png' %}" width="30" height="30">
                                </a>
                            </div>
    
                        </div>
    
                    <br>
            
                {% else %}
                    <div class="label">
                        <p>{{user.username}}</p>
                        <div class="row_cont_in_label">
                            {% if user == request.user %}
                            <img 
                                class="label_img" 
                                src="{% static 'images/schedule.png' %}" 
                                width="30" height="30"
                                onclick="showTasks('{{ user.pk }}', '{{work_object.pk}}' )"
                            >
                            {% endif %}
                        </div> 
                    </div>   
                    <br>
                {% endif %}
            {% endfor %}
        
            <br>
            <!-- ##################### END OF LABEL FOR EACH USER ##################### -->

            <!-- ##################### CHAT ##################### -->
            <div class="row_cont_in_label">
                <h1>Czat</h1>
                {% if request.user.is_superuser %}
                    <img 
                        src="{% static 'images/delete.png' %}"
                        width="20"
                        height="20"
                        onclick="deleteQuestionMessages('{{work_object}}')"
                    >
                {% endif %}
            </div>

            <h1 id="currentDate"></h1>

            <div class="chat_container">
                <div id="chato"></div>
                    <div id="chat_down">
                        <img 
                        src="{% static 'images/down_100.png' %}" 
                        width="20" height="20" 
                        id="chat_down"
                        onclick="lastMessage()"
                        >
                    </div>
            </div>
            
            <form id="chat-form" method="POST">
                {% csrf_token %}
                <div id="chat_input_cont">
                    <textarea name="content" class="chat_input" placeholder="Napisz coś..." wrap="soft" id="content"></textarea>
                    <a
                        id="chat_push" 
                        class="label_img" 
                        onclick="sendChatMessage(event)"
                        name="chat"
                        type="button"
                    >
                        <img src="{% static 'images/send.png' %}" width="40" height="40">
                    </a>
                </div>
        
            </form>
            <br>

            <!-- ##################### END CHAT ##################### -->

            {% if request.user.is_superuser or request.user.username == 'John' %}
            <div class="label">
                <p>Pensje:</p>
                <p id="total_payment">{{ total_payment }}</p>
            </div>
            <br>
            <div class="label">
                <p>Kawa/Posiłki:</p>
                <p id="total_coffee_food">{{ total_coffee_food }}</p>
            </div>
            <br>
            <div class="label">
                <p>Paliwo:</p>
                <p id="total_fuel">{{ total_fuel }}</p>
            </div>
            <br>
            <div class="label">
                <p>Telefon:</p>
                <p id="total_phone_costs">{{ total_phone_costs }}</p>
            </div>
            <br>
            {% for s in subcontractors %}
                <div class="label">
                    <p>{{ s.name }}:</p>
                    <div class="row_simple">
                        <p id="total_phone_costs">{{ s.sum }}</p>
                        <a class="label_img">
                            <img 
                                src="{% static 'images/delete.png' %}" 
                                width="30" height="30"
                                onclick="deleteQuestionSubcontractor('{{ s.id }}')"
                            >
                        </a>
                    </div>
                </div>
                <br>
            {% endfor %}
            <div class="row_simple_start">
                <img 
                    src="{% static 'images/addwork.png' %}" 
                    width="40" height="40"
                    style="cursor: pointer;"
                    onclick="addSubcontractor(event)"
                >
                <p>Dodaj pomocnika/powykonawcę</p>
            </div>
            <br>
            <div id="row_simple_sub">
                <input class="input_sub"  type="text" placeholder="Pomocnik/Powykonawca" name="subcontractor" id="subcontractor">
                <br>
                <input class="input_sub" type="text" placeholder="Czas pracy" name="time" id="time">
                <br>
                <input class="input_sub" type="text" placeholder="Koszta za godzinę" name="price" id="price">
                <br>
                <img 
                    src="{% static 'images/done.png' %}" 
                    width="40" height="40"
                    onclick="submitSubcontractor(event)"
                >
            </div>
            <br>
            <div class="label">
                <p>Koszty projektu:</p>
                <p id="total_phone_costs">{{ work_object.total }}</p>
            </div>
            <br>

            <div class="work">
                <button class="btn" id="work_object_status" onclick="changeStatus(event)">
                    <p class="btn-title">
                        {% if work_object.status == 'Aktywne' %}
                            Zakończ
                        {% else %}
                            Aktywuj
                        {% endif %}
                    </p>
                </button>
            </div>

            <div class="chart">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        </div>
        {% endif %}
              
    </div>   

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <script> 

    var chatWindow = document.getElementById('chato')
    var shouldToBottom = true 

    // Button to up down of the chat window
    var chatDown = document.getElementById('chat_down')
    var chatDownQuantity = document.getElementById('chat_down_quantity') // it was a <span id='chat_down_quantity' /> it deleted for now

    // Check if the user is scrolling
    chatWindow.addEventListener('scroll', handleScroll);
    setInterval(checkScrollActivity, 500);
    var scrollActive = false;

    function handleScroll() {
      scrollActive = true;
      clearTimeout(scrollTimeout);
    
      var scrollTimeout = setTimeout(function() {
        scrollActive = false;
      }, 200); 
    }

    function checkScrollActivity() {
      if (scrollActive) {
        shouldToBottom = false; // if the User is scrolling the scrollTop will be not in bottom on the window
      }else if (chatWindow.scrollHeight - chatWindow.scrollTop > 600){
        chatDown.style.display = 'block' // Make the chat_down button active
        if(chatDownQuantity) {
            chatDownQuantity.style.display = 'block'; //Show the quantity of unread messages
        }
      }else if (chatWindow.scrollHeight - chatWindow.scrollTop < 600){
        chatDown.style.display = 'none' // Make the chat_down button inactive
        if(chatDownQuantity) {
            chatDownQuantity.style.display = 'none' //Hide the quantity of unread messages
        }
      }
    }


    // The online unread messages count
    function showCount(){
        $.ajax({
        type: 'GET',
        url: "{% url 'showCount' work_object.pk %}",
        success: (response) => {
            var data = response.count
            console.log('showCount', data)
            if (data > 0){
                console.log('showCount > 0', data)
                chat_down_quantity.textContent = data
            }else{
                chat_down_quantity.textContent = 0
            }
        }
        })
    }


    // The chat window will shows the last message on the bottom 
    function scrollBottom() {
        if (shouldToBottom === true){
            chatWindow.scrollTop = chatWindow.scrollHeight
        }
    }

    // Go up down the chat and 
    function lastMessage() {
        chatWindow.scrollTop = chatWindow.scrollHeight
    }

    // Send the message by pressing Enter
    // Add an event listener to the chat input field
    const chatInput = document.getElementById('content');
    chatInput.addEventListener('keypress', handleEnterKey);

    // Function to handle the "Enter" key press event
    function handleEnterKey(event) {
      if (event.key === 'Enter') {
        event.preventDefault(); // Prevent the default "Enter" key behavior (e.g., new line)
        const message = chatInput.value.trim(); // Get the message content

        // Check if the message is not empty
        if (message !== '') {
            sendChatMessage(event); // Call a function to send the message
            chatInput.value = ''; // Clear the chat input field after sending
        }
      }
    }


    // WORK OBJECT STATUS CHANGE
    function changeStatus(event){
        event.preventDefault();
        var btnTitle = event.currentTarget.querySelector('.btn-title');
        var status = null
        if (btnTitle.textContent === 'Zakończ') {
                btnTitle.textContent = 'Aktywuj';
                status = 'Zakończone';
            } else {
                btnTitle.textContent = 'Zakończ';
                status = 'Aktywne';
            }
        
        $.ajax({
          type: 'POST',
          url: "{% url 'changeStatusWorkObject' work_object.pk %}",
          data: {
              'status': status,
          },
          headers: {
              'X-CSRFToken': '{{ csrf_token }}'
          },
          success: (data) => {
            console.log(data)
          },
          error: (data) => {
              console.log('error')
          }                
        })        
    }


    // POST
    function sendChatMessage(event){
        event.preventDefault();
          var txt = document.getElementById("content").value;
          var user = "{{ user }}"
          textarea = document.getElementById("content")

          $.ajax({
              type: 'POST',
              url: "{% url 'chat' work_object.pk %}",
              data: {
                  'txt': txt,
                  'user': user,
                  'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
              },
              success: (data) => {
                $('#content').empty();
                textarea.value = '';
                shouldToBottom = true
              },
              error: (data) => {
                  console.log('error')
                  $('#content').empty();
              }                
          })             
        }
    
        function showMessages(){
        var Ty = 'Ty:'
        $.ajax({
                type: 'GET',
                url: "{% url 'chat' work_object.pk %}",
                success: function(response){
                    console.log('chat', response.messages)
                    $('#chato').empty();
                    

                    for (var key in response.messages){
                        if(response.messages[key].is_read == true){
                            var isRead = '<img src="{% static "images/is_read.png" %}" width="20" height="15">'
                        }else{
                            var isRead = '<img src="{% static "images/un_read.png" %}" width="20" height="15">'
                        }
                       if(response.user === response.messages[key].name){
                            var data= '<p class="r">'+Ty+'</p>'+
                                    '<div class="chat_label_r">'+
                                        '<p class="chat_content">'+response.messages[key].content+'</p>'+
                                        '<p class="chat_time">'+response.messages[key].day+response.messages[key].time+" "+isRead+'</p>'+
                                    '</div>'
                        }else{
                            var data='<p class="l">'+response.messages[key].name+'</p>'+
                                    '<div class="chat_label_l">'+
                                        '<p class="chat_content">'+response.messages[key].content+'</p>'+
                                        '<p class="chat_time">'+response.messages[key].day+response.messages[key].time+" "+isRead+'</p>'+
                                    '</div>'
                        }
                                
                        $('#chato').append(data)
                        // chat_down_quantity.textContent = response.count
                    }
                    scrollBottom()
                    },
                error: function(response){
                    alert('Error')
                }
            })
        }

        
    $(document).ready(function(){

        showMessages()

        function getMessages(){
        var Ty = 'Ty:'
        $.ajax({
                type: 'GET',
                url: "{% url 'chat' work_object.pk %}",
                success: function(response){
                    console.log('chat', response.messages)
                    $('#chato').empty();
                    

                    for (var key in response.messages){
                        if(response.messages[key].is_read == true){
                            var isRead = '<img src="{% static "images/is_read.png" %}" width="20" height="15">'
                        }else{
                            var isRead = '<img src="{% static "images/un_read.png" %}" width="20" height="15">'
                        }
                       if(response.user === response.messages[key].name){
                            var data= '<p class="r">'+Ty+'</p>'+
                                    '<div class="chat_label_r">'+
                                        '<p class="chat_content">'+response.messages[key].content+'</p>'+
                                        '<p class="chat_time">'+response.messages[key].day+response.messages[key].time+" "+isRead+'</p>'+
                                    '</div>'
                        }else{
                            var data='<p class="l">'+response.messages[key].name+'</p>'+
                                    '<div class="chat_label_l">'+
                                        '<p class="chat_content">'+response.messages[key].content+'</p>'+
                                        '<p class="chat_time">'+response.messages[key].day+response.messages[key].time+" "+isRead+'</p>'+
                                    '</div>'
                        }
                                
                        $('#chato').append(data)
                        // chat_down_quantity.textContent = response.count
                    }
                    scrollBottom()
                    if(response.messages){
                        intervalID = setInterval(checkMessages, 1000);
                    }else{
                            alert('Error')
                            clearInterval(intervalID); // Stop the interval
                        }
                    },
                error: function(response){
                    alert('Error')
                }
            })
        }


        let intervalID;

        // Function to send the AJAX request and handle the response
        function checkMessages() {
            $.ajax({
                type: 'GET',
                url: "{% url 'chek_messages' work_object.pk %}",
                success: function(response) {
                    if (response.message === true) {
                        console.log('response.message', response.message);
                        clearInterval(intervalID); // Stop the interval
                        getMessages(); // Call getMessages_() function
                    } else {
                        console.log('response.message', response.message);
                    }
                }
            });
        }

        // Start the interval and store the ID in the intervalID variable
        intervalID = setInterval(checkMessages, 1000);
    })


    // CHART

    document.addEventListener('DOMContentLoaded', function() {

        // Retrieve the data from the Django view
        var total_payment = JSON.parse(document.getElementById('total_payment').textContent);
        var total_fuel = JSON.parse(document.getElementById('total_fuel').textContent);
        var total_coffee_food = JSON.parse(document.getElementById('total_coffee_food').textContent);
        var total_phone_costs = JSON.parse(document.getElementById('total_phone_costs').textContent);
        var values = [
            total_payment,
            total_fuel,
            total_coffee_food,
            total_phone_costs,
        ]
        var labels = [
            'Pensje',
            'Paliwo',
            'Kawa/Posiłki',
            'Telefon',
        ]
        // Create the pie chart using Chart.js
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    data: values,
                    backgroundColor: [
                        '#9fadcc',
                        '#212A3E',
                        '#394867',
                        '#485268'
                    ]
                }]
            },
        });
    });

    var tasks_container = document.getElementById('tasks_container');
    var pageCont = document.getElementById('pageCont')
    var deleteTaskBtn = document.getElementById('deleteTaskBtn')
    function showTasks(user, work_object){
        //GET
        $.ajax({
            type: 'GET',
            url: "{% url 'task' %}",
            data: {
              'user': user,
              'work_object': work_object
            },
            success: function(response){
                for(var key in response.tasks_list){
                    if(response.tasks_list[key]){
                        var date =  '<div id="taskDateImg">'+
                                        '<div id="taskDateBg">'+
                                            '<div id="taskDate">'+
                                                '<p>'+
                                                    response.tasks_list[key].date.slice(0, 2)+
                                                '</p>'+
                                                '<p>'+
                                                    response.tasks_list[key].abbreviated_month+
                                                '</p>'+
                                            '</div>'+
                                            '<p id="taskYear">'+
                                                response.tasks_list[key].date.slice(-4)+
                                            '</p>'+
                                        '</div>'+
                                    '</div>';
                        var taskElement = response.tasks_list[key].done === true ? 
                        '<p id="done">' + response.tasks_list[key].content + '</p>' : 
                        '<p>' + response.tasks_list[key].content + '</p>';
                        var deleteTaskBtn = response.tasks_list[key].done === true?
                        '<img class="label_img_task" id="deleteTaskBtn" src="{% static "images/delete.png" %}" width="30" height="30" onclick="deleteQuestionTask('+response.tasks_list[key].id+', '+user+', '+work_object+')">' :
                        '';
                        var taskStyle = response.tasks_list[key].done === true ?
                        'doneTaskColor' :
                        'activeTaskColor';
                        var data = '<div id="labelTaskCont">' + 
                                        '<div id="task" class="'+taskStyle+'">' +

                                            '<div class="row_task_cont">'+
                                                '<div id="taskDateCont">'+  
                                                    date +
                                                '</div>'+
                                                taskElement +
                                            '</div>'+

                                          '<div class="row_task_cont">'+
                                            '<img class="label_img_task" src="{% static "images/done.png" %}" width="35" height="35" onclick="doneTask('+response.tasks_list[key].id+', '+user+', '+work_object+')">' +
                                              '{% if request.user.is_superuser %}'+
                                                 deleteTaskBtn +
                                              '{% endif %}'+
                                          '</div>'+

                                        '</div>' +
                                    '</div>';
                        $('#taskContent').append(data);
                    }
                }
            }
        })

        tasks_container.style.display = 'flex'
        pageCont.style.filter = 'blur(4px)'
            if(tasks_container.style.display === 'flex'){
                var data = 
                    '<img class="label_img_task" id="closeTaskBtn" src="{% static "images/close.png" %}" width="30" height="30" onclick="closeTasks()">' +
                          '<div id="taskContent">'+ 
                          '</div>'+
                        '<div>'+
                         '{% if request.user.is_superuser %}'+
                          '<form method="POST" id="taskForm">'+
                            '{% csrf_token %}'+
                             '<textarea wrap="soft" class="contentTask" id="content"></textarea>'+
                             '<div id="task_mini_cont">'+
                               '<div class="label_img_task">'+
                                '<div class="label_datetimepicker">'+
                                 '<input type="date" id="datetimepickerTask">'+
                                 '</div>'+
                                '</div>'+
                                '<br>'+
                               '<img id="addTask" class="label_img_task" src="{% static "images/addwork.png" %}" width="30" height="30" onclick="newTask(' + user + ', ' + work_object + ', event)">' +
                             '</div>'+
                          '</form>'+
                         '{% endif %}'+
                       '</div>';
            }else if(tasks_container.style.display === 'flex'){
                tasks_container.style.display = 'none';
                data = ''
            }
            tasks_container.innerHTML = data
    }

    // Create a new Task
    function newTask(user, work_object, event){
        event.preventDefault();
        var datetimepickerValue = document.getElementById("datetimepickerTask").value;
        var content = document.getElementById("content").value;
        //POST
        $.ajax({
            type: 'POST',
            url: "{% url 'new_task'  %}",
            data: {
                  'date': datetimepickerValue,
                  'content': content,
                  'user': user,
                  'work_object': work_object,
                  'csrfmiddlewaretoken': '{{ csrf_token }}'
              },
              success: (data) => {
                content.value = '';
                showTasks(user, work_object)
              },
              error: (data) => {
                  alert('error', data)
              }     
        })
    }

    // Close the Task window
    function closeTasks(){
        tasks_container.style.display = 'none';
        pageCont.style.filter = 'none'
    }

    // Finish the task
    function doneTask(pk, user, work_object){
        $.ajax({
            type: 'POST',
            url: "{% url 'doneTask' %}",
            data: {
                'pk': pk,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response){
                if(response.message === true){
                    showTasks(user, work_object)
                }else{
                    showTasks(user, work_object)
                }
            },
            error: function(response) {
                  alert('Błąd:', response.message)
            }  
        })
    }


    // Question for deleting all messages
    function deleteQuestionMessages(work_object){

        $.ajax({
            type: 'GET',
            url: "{% url 'deleteQuestionMessages' %}",
            success: function(response){
                if(response.message === 'ok'){
                    console.log('response.message', response.message)
                    var deleteQuestion = document.getElementById('deleteQuestion')
                    deleteQuestion.style.display = 'flex';
                    var data = '<div id="questCont">'+
                                    '<p>'+"Usunąć wszystkie wiadomości?"+'</p>'+
                                    '<div class="row_cont_in_label">'+
                                        '<button class="btn" onclick="deleteAllMessagesWO('+work_object+')">'+
                                            '<a>'+"Tak"+'</a>'+
                                        '</button>'+
                                        '<button class="btn" onclick="closeQuestionDelete()">'+
                                            '<a>'+"Nie"+'</a>'+
                                        '</button>'+
                                    '</div>'+
                                '</div>';
                        $('#deleteQuestion').html(data)
                }else{
                    alert(response.message)
                }

            },
            error: function(response){
                  alert('Wystąpił błąd')
            } 
        })

    }


    // Delete all messages in chat
    function deleteAllMessagesWO(work_object){
        console.log('work_object', work_object)
        $.ajax({
            type: 'POST',
            url: "{% url 'deleteAllMessagesWO' %}",
            data: {
                'work_object': work_object
            },
            headers: {
              'X-CSRFToken': '{{ csrf_token }}'
            },
            success: function(response){
                if(response.message === 'ok'){
                    var deleteQuestion = document.getElementById('deleteQuestion')
                    deleteQuestion.style.display = 'flex';
                    var data = '<div id="questCont">'+
                                    '<p>'+response.content+'</p>'+
                                    // '<div class="row_cont_in_label">'+
                                    //     '<button class="btn" onclick="closeQuestionDelete()">'+
                                    //         '<a>'+"Ok"+'</a>'+
                                    //     '</button>'+
                                    // '</div>'+
                                '</div>';
                        $('#deleteQuestion').html(data)
                        location.reload();
                }else{
                    alert(response.message)
                }

            },
            error: function(response){
                  alert('Błąd:', + response.responseJSON.message)
            } 
        })
    }

    // Question for deleting the task
    function deleteQuestionTask(pk, user, work_object){
        $.ajax({
            type: 'POST',
            url: "{% url 'deleteTaskQuestion' %}",
            data: {
                'pk': pk,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response){
                if(response.message === 'ok'){
                    var deleteQuestion = document.getElementById('deleteQuestion')
                    tasks_container.style.display = 'none';
                    deleteQuestion.style.display = 'flex';
                    var data = '<div id="questCont">'+
                                    '<p>'+"Usunąć te zadanie?"+'</p>'+
                                    '<div class="row_cont_in_label">'+
                                        '<button class="btn" onclick="deleteTask('+pk+', '+user+', '+work_object+')">'+
                                            '<a>'+"Tak"+'</a>'+
                                        '</button>'+
                                        '<button class="btn" onclick="closeQuestionDelete()">'+
                                            '<a>'+"Nie"+'</a>'+
                                        '</button>'+
                                    '</div>'+
                                '</div>';
                        $('#deleteQuestion').html(data)
                }else{
                    alert(response.message)
                }
            },
            error: function(response){
                  alert('Błąd:', + response.responseJSON.message)
            } 
        })
    }

    // Delete the task
    function deleteTask(pk, user, work_object){
        $.ajax({
            type: 'POST',
            url: "{% url 'deleteTask' %}",
            data: {
                'pk': pk,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response){
                deleteQuestion.style.display = 'none';
                showTasks(user, work_object);
            },
            error: function(response){
                  alert('Błąd:', + response.responseJSON.message)
            } 
        })
    }

    function closeQuestionDelete(){
        deleteQuestion.style.display = 'none';
        tasks_container.style.display = 'flex';
        location.reload();
    }


    function addSubcontractor(event){
        event.preventDefault();
        var row_simple_sub = document.getElementById("row_simple_sub");
        var subcontractor = document.getElementById("subcontractor");
        var time = document.getElementById("time");
        var price = document.getElementById("price");
        var sum = document.getElementById("sum");
        console.log()
    
        if(row_simple_sub.style.display === 'none'){
            row_simple_sub.style.display = 'flex'
        }else{
            row_simple_sub.style.display = 'none'
        }
    }

    function submitSubcontractor(event){
        event.preventDefault();
        var subcontractor = document.getElementById("subcontractor").value;
        var time = parseFloat(document.getElementById("time").value);
        var price = parseFloat(document.getElementById("price").value);

        $.ajax({
            type: 'POST',
            url: "{% url 'addSubcontractor' work_object.pk %}",
            data: {
                'subcontractor': subcontractor,
                'time': time,
                'price': price,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response){
                row_simple_sub.style.display = 'none'
                console.log('total', response)
                window.location.reload()
            },
            error: function(response){
                  alert('Błąd:', + response.responseJSON.message)
            } 
        })
    }


    function deleteQuestionSubcontractor(pk){
        var deleteQuestion = document.getElementById('deleteQuestion')
        deleteQuestion.style.display = 'flex';
        var data = '<div id="questCont">'+
                        '<p>'+"Usunąć Pomocnika/Podwykonawce?"+'</p>'+
                        '<div class="row_cont_in_label">'+
                            '<button class="btn" onclick="deleteSubcontractor('+pk+')">'+
                                '<a>'+"Tak"+'</a>'+
                            '</button>'+
                            '<button class="btn" onclick="closeQuestionSubcontractorDelete()">'+
                                '<a>'+"Nie"+'</a>'+
                            '</button>'+
                        '</div>'+
                    '</div>';
            $('#deleteQuestion').html(data)
                
    }


    function closeQuestionSubcontractorDelete(){
        deleteQuestion.style.display = 'none';
    }


    function deleteSubcontractor(pk){
        console.log('pk', pk)
        $.ajax({
            type: 'POST',
            url: "{% url 'deleteSubcontractor' %}",

            success: function(response){
                window.location.reload()
            },
            data: {
                'pk': pk,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            error: function(response){
                  alert('Błąd:', + response)
            } 
        })

    }
        
    </script>  


    
    {% endblock %}
    
</body>
</html>